<style  type="text/css">
cool {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

loud {
    font-size: 20pt;
    }

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
</style>

<b><center>
<span style="font-size: 24pt; line-height: 1.2">
COMS W4111: Introduction to Databases<br>
Spring 2024, Sections 002/V02
</span>
</center></b>
<br>
<p>
<i><center>
<span style="font-size: 20pt; line-height: 1.2">
Homework 3<br>
</span>
</center></i>

# Introduction

- This notebook contains HW3. **Both Programming and Nonprogramming tracks should complete this homework.**
- You will submit **PDF and ZIP files** for this assignment. Gradescope will have two separate assignments for these.
- For the PDF:
    - The most reliable way to save as PDF is to go to your browser's menu bar and click `File -> Print`. Switch the orientation to landscape mode, and hit save.
    - **MAKE SURE ALL YOUR WORK (CODE AND SCREENSHOTS) IS VISIBLE ON THE PDF. YOU WILL NOT GET CREDIT IF ANYTHING IS CUT OFF.** Reach out for troubleshooting.
    - **MAKE SURE YOU DON'T SUBMIT A SINGLE PAGE PDF.** Your PDF should have multiple pages.
- For the ZIP:
    - Zip a folder containing this notebook and any screenshots.
    - You may delete any unnecessary files, such as caches.

# Setup

In [ ]:
%load_ext sql
%sql mysql+pymysql://root:dbuserdbuser@localhost
%sql SELECT 1

In [ ]:
%%sql

drop schema if exists s24_hw3;
create schema s24_hw3;
use s24_hw3;

In [ ]:
import copy
import math

import pandas
import pymysql
from sqlalchemy import create_engine

sql_conn = pymysql.connect(
    user="root",
    password="dbuserdbuser",
    host="localhost",
    port=3306,
    cursorclass=pymysql.cursors.DictCursor,
    autocommit=True
)
engine = create_engine("mysql+pymysql://root:dbuserdbuser@localhost")

cur = sql_conn.cursor()
res = cur.execute("SELECT 1")
res = cur.fetchall()
res

<hr style="height:2px;">

# Written

- As usual, try to keep things short. Do not bloviate.
- You may use external resources, but you should cite your sources.

## W1

Explain and list some differences between

- RAM
- Solid state drives
- Hard drives


_Your answer here_

## W2

With regards to disk drives, define

- Seek time
- Rotational latency time
- Transfer time/data transfer rate


_Your answer here_

## W3

Explain the concepts of

- Logical block addressing
- Cylinder-head-sector addressing


_Your answer here_

## W4

Define and list some benefits of

- Fixed-length records
- Variable-length records
- Row-oriented storage
- Column-oriented storage


_Your answer here_

## W5

Explain and list some differences between

- RAID 0
- RAID 1
- RAID 5


_Your answer here_

<hr style="height:2px;">

# SQL

## Overview

- The `data` directory contains a file `People.csv`. The columns are
    - `nameFirst`
    - `nameLast`
    - `birthYear`
    - `birthCountry`
    - `deathYear`
    - `deathCountry`
- For Nonprogramming students, note that this `People.csv` differs from the one you loaded in HW2. Do not mix the two files.
- **There is no one right answer for this section.** You can come up with and document your own design (as long as they satisfy the requirements).

## Create Table

- Create a table based on the structure of `People.csv`
    - **You must add an additional attribute, `personID`, which has type char(9)**
        - `personID` should be the primary key of your table
    - `nameFirst` and `nameLast` cannot be null. The other (non-PK) columns can be null.
    - You should choose reasonable data types for the attributes
        - Do not use the `year` data type for `birthYear` or `deathYear`. The [range for year](https://dev.mysql.com/doc/refman/8.0/en/year.html) is too small.
    - Your table will be empty for the next few sections. We will insert data later.

In [ ]:
%%sql

## Person ID Function

- `personID` is formed using the following rules:

1. The ID consists of three sections: `[lastSubstr][firstSubstr][number]`
2. `lastSubstr` is formed by lowercasing `nameLast`, then taking the first 5 letters. If `nameLast` is less than 5 letters, use the entire `nameLast`.
3. `firstSubstr` is formed by lowercasing `nameFirst`, then taking the first 2 letters. If `nameFirst` is less than 2 letters, use the entire `nameFirst`.
4. For a specific combination of `[lastSubstr][firstSubstr]`, `number` starts from 1 and increments. `number` should be padded to have length 2.
5. `nameFirst` and `nameLast` may contain periods ".", hyphens "-", and spaces " ". You should remove these characters from `nameFirst` and `nameLast` **before** doing the above substring processing.

- As an example, starting from an empty table, below is what `personID` would be assigned to the following names (assuming they were inserted in the order that they are shown)

| nameFirst | nameLast | personID  |
|-----------|----------|-----------|
| Donald    | Ferguson | fergudo01 |
| David     | Aardsma  | aardsda01 |
| Doe       | Fergue   | fergudo02 |
| J. J.     | Park     | parkjj01  |

- Write a SQL function that generates a person ID using the above rules
    - You should determine what parameters and return type are needed
    - This function will be called by triggers in the next section. **It is up to you which logic you put in the function and which logic you put in the triggers.**
        - That is, if you plan to place the bulk of your logic in your triggers, then your function could be a few lines.
    - You may define helper functions
    - You may add additional attributes to your table if it helps

In [ ]:
%%sql

## Insert and Update Triggers

- We want to automatically generate `personID` using the function above whenever a row is inserted. The user should not need to manually specify it.
- Write a SQL trigger that runs every time a row is inserted
    - The trigger should generate a person ID for the row based on its `nameFirst` and `nameLast`; it should then set the `personID` for that row.
        - This should occur even if the user attempts to manually set `personID`. The user's value for `personID` is ignored.
        - You should call the function you wrote above
- Write another SQL trigger that runs every time a row is updated
    - There is no `immutable` keyword in MySQL; however, we can simulate immutability using a trigger. If the user attempts to modify `personID` directly, throw an exception.
    - If the user modifies `nameFirst` or `nameLast` such that the `personID` is no longer valid based on the rules in the previous section (specifically, if `[lastSubstr][firstSubstr]` is no longer the same as before), you should re-generate `personID` and re-set it.
        - You should call the function you wrote above

- **You are writing two SQL triggers for this section**

In [ ]:
%%sql

## Create and Update Procedures

- You must implement two stored procedures

1. `createPerson(nameFirst, nameLast, birthYear, birthCountry, deathYear, deathCountry, personID)`
    1. `personID` is an out parameter. It should be set to the ID generated for the person.
    2. All the other parameters are in paramaters
2. `updatePerson(personID, nameFirst, nameLast, birthYear, birthCountry, deathYear, deathCountry, newPersonID)`
    1. `newPersonID` is an out parameter. It should be set to the ID of the person after the update (even if it didn't change).
    2. All the other parameters are in parameters.
        1. `personID` is used to identify the row that the user wants to update. The other in parameters are the values that the user wants to set.
        2. **Ignore null in parameters.** Only update an attribute if the in parameter is non-null.
        
- Depending on how you implemented your triggers, these procedures could be as simple as calling `insert`/`update` and setting the out parameters

In [ ]:
%%sql

## Security

- You must create a new user `general_user` and use security to allow it to perform only `select` and `execute` operations (i.e., no `insert`, `delete`, and `update` operations)

In [ ]:
%%sql

## Inheritance Using Views

- A person can be a player or manager
    - That is, a player is-a person, and a manager is-a person
- Describe how you could implement this inheritance relationship given that you already have your `people` table
    - No code is necessary

_Your answer here_

## Data Insertion Testing

- The cells below load data from `People.csv` to your database
    - No code is required on your part. Make sure everything runs without error.

In [ ]:
# Load People.csv into a dataframe.
# You may see NaNs in the non-null columns. This is fine.

people_df = pandas.read_csv("data/People.csv")
people_df.head(10)

In [ ]:
def add_person(p):
    """
    p is a dictionary containing the column values for either a student or an employee.
    """
    
    cur = sql_conn.cursor()
    
    # This function changes the data, converting nan to None.
    # So, we make a copy and change the copy.
    p_dict = copy.copy(p)
    for k, v in p_dict.items():
        if isinstance(v, float) and math.isnan(v):
            p_dict[k] = None
        
    # This provides a hint for what your stored procedure will look like.
    res = cur.callproc("s24_hw3.createPerson",
                       # The following are in parameters
                        (p_dict['nameFirst'],
                        p_dict['nameLast'],
                        p_dict['birthYear'],
                        p_dict['birthCountry'],
                        p_dict['deathYear'],
                        p_dict['deathCountry'],
                        # The following are out parameters for personID.
                        None))

    # After the procedure executes, the following query will select the out values.
    res = cur.execute("""SELECT @_s24_hw3.createPerson_6""")
    result = cur.fetchall()
    
    sql_conn.commit()
    cur.close()
    return result[0]["@_s24_hw3.createPerson_6"]  # Return personID

- Below is the main data insertion logic
    - `add_person` calls your `createPerson` procedure
    - The `data` directory also contains a file `People_Ids.csv`, which is the expected `personID` for each row after it is inserted. We'll use this to check your `createPerson` implementation.

In [ ]:
%sql truncate table s24_hw3.people

expected_ids_df = pandas.read_csv("data/People-Ids.csv", header=None)
expected_ids = [e[0] for e in expected_ids_df.values.tolist()]

for i, (p, e_id) in enumerate(zip(people_df.to_dict(orient="records"), expected_ids)):
    p_id = add_person(p)
    assert p_id == e_id, \
    f"Row {i}: Expected {e_id}, but got {p_id} for {p['nameFirst']} {p['nameLast']}"
    
print("Successfully inserted all data")

## Data Updating Testing

- The following cells test your update trigger and `updatePerson` implementation
    - No code is required on your part. Make sure everything runs as expected.
    - The tests assume you just finished the Data Insertion Testing section. You may run into issues if you run the Data Updating Testing section multiple times without reseting your data.

In [ ]:
# Switch back to root
%sql mysql+pymysql://root:dbuserdbuser@localhost/s24_hw3
        
def transform(d):
    # %sql returns dict of attributes to one-tuples.
    # This function extracts the values from the one-tuples.
    return {k: v[0] for k, v in d.items()}

def is_subset(d1, d2):
    # Checks if d1 is a subset of a d2
    for k, v in d1.items():
        if k not in d2 or str(d2[k]) != str(v):
            return False
    return True

In [ ]:
# Create new person to test on

%sql call createPerson("Babe", "Ruth", null, null, null, null, @ruthID)
res1 = %sql select * from people p where p.personID = @ruthID
res1_d = transform(res1.dict())
expected_d = dict(
    personID="ruthba01",
    nameFirst="Babe",
    nameLast="Ruth",
    birthYear=None,
    birthCountry=None,
    deathYear=None,
    deathCountry=None
)

print(res1)

assert is_subset(expected_d, res1_d), \
f"Row has unexpected value. Expected {expected_d}, but got {res1_d}"

print("Success")

In [ ]:
# Update birth country and year
%sql call updatePerson(@ruthID, null, null, 1895, "USA", 1948, "USA", @ruthID)
res2 = %sql select * from people p where p.personID = @ruthID
res2_d = transform(res2.dict())
expected_d = dict(
    personID="ruthba01",
    nameFirst="Babe",
    nameLast="Ruth",
    birthYear=1895,
    birthCountry="USA",
    deathYear=1948,
    deathCountry="USA"
)

print(res2)

assert is_subset(expected_d, res2_d), \
f"Row has unexpected value. Expected {expected_d}, but got {res2_d}"

print("Success")

In [ ]:
# Checking that null is a noop
%sql call updatePerson(@ruthID, null, null, null, null, null, null, @ruthID)
res3 = %sql select * from people p where p.personID = @ruthID
res3_d = transform(res3.dict())

print(res3)

assert is_subset(expected_d, res3_d), \
f"Row has unexpected value. Expected {expected_d}, but got {res3_d}"
    
print("Success")

In [ ]:
# Try to manually set personID
# Note: You should get an OperationalError. If you get an AssertionError, then
# your trigger is not doing its job.

res4 = %sql update people set personID = "dff9" where personID = "ruthba01"

assert res4 is None, "Your trigger should throw an exception"

print("Success")

In [ ]:
# Check that update trigger updates personID if name changes

%sql call updatePerson(@ruthID, "George", "Herman", 1920, "USA", 2005, "USA", @ruthID)
res5 = %sql select * from people p where p.personID = @ruthID
res5_d = transform(res5.dict())
expected_d = dict(
    personID="hermage01",
    nameFirst="George",
    nameLast="Herman",
    birthYear=1920,
    birthCountry="USA",
    deathYear=2005,
    deathCountry="USA"
)

print(res5)

assert is_subset(expected_d, res5_d), \
f"Row has unexpected value. Expected {expected_d}, but got {res5_d}"

print("Success")

## Security Testing

- Write and execute statements below to show that you set up the permissions for `general_user` correctly
    - You should show that `select` and `execute` work, but `insert`, `update`, and `delete` don't

In [ ]:
# Connect to database as general_user
%sql mysql+pymysql://general_user:dbuserdbuser@localhost/s24_hw3

<hr style="height:2px;">

# GoT Data Visualization 

## Data Loading

- Run the cell below to create and insert data into GoT-related tables

In [ ]:
%sql mysql+pymysql://root:dbuserdbuser@localhost/s24_hw3

for filename in [
    "episodes_basics", "episodes_characters", "episodes_scenes"
]:
    df = pandas.read_json(f"data/{filename}.json")
    df.to_sql(name=filename, schema="s24_hw3", con=engine, index=False, if_exists="replace")
    
print("Success")

## Overview

- In this section, you'll be combining SQL and Dataframes to create data visualizations
    - You may find [this notebook](https://github.com/donald-f-ferguson/W4111-Intro-to-Databases-Spring-2024/blob/main/examples/process_got/GoT_Processing.ipynb) helpful
    - You may also find the [Pandas docs](https://pandas.pydata.org/docs/reference/frame.html) helpful
- **For all questions, you need to show the SQL output and the visualization generated from it.** See DV0 for an example.

## DV0

- This question is an example of what is required from you
- Create a bar graph showing the amount of time each season ran for (in seconds)
- You should use the `episodes_scenes` table


- Note: `season_running_time <<` in the following cell saves the output of the SQL query into a local Python variable `season_running_time`

In [ ]:
%%sql

season_running_time <<

with one as (
    select seasonNum, episodeNum, sceneNum, sceneEnd, time_to_sec(sceneEnd) as sceneEndSeconds,
           sceneStart,  time_to_sec(sceneStart) as sceneStartSeconds,
            time_to_sec(sceneEnd)-time_to_sec(sceneStart) as sceneLengthSeconds
    from episodes_scenes
),
two as (
    select seasonNum, episodeNum, max(sceneEnd) as episodeEnd, max(sceneEndSeconds) as episodeEndSeconds
    from one
    group by seasonNum, episodeNum
),
    three as (
        select seasonNum, cast(sum(episodeEndSeconds) as unsigned) as totalSeasonSeconds,
               sec_to_time(sum(episodeEndSeconds)) as totalRunningTime
        from two
        group by seasonNum
    )
select * from three;

In [ ]:
# You must show the SQL output

season_running_time = season_running_time.DataFrame()
season_running_time

In [ ]:
# You must show the visualization

season_running_time[['seasonNum', 'totalSeasonSeconds']].plot.bar(x='seasonNum', y='totalSeasonSeconds')

## DV1

- Create a pie chart showing the proportion of episodes aired in each month (regardless of year)
- You should use the `episodes_basics` table
- As an example, your pie chart may look like this:

<img src="./images/NP1.png">

In [ ]:
%%sql

episodes_per_month <<

In [ ]:
# SQL output

episodes_per_month = episodes_per_month.DataFrame()
episodes_per_month

In [ ]:
# TODO: visualization

## DV2

- Create a bar chart showing the number of episodes that every location (not sublocation) appeared in
    - You are counting the number of episodes, not scenes. If a location appeared in multiple scenes in a single episode, that should increment your count only by one.
    - You should order your chart on the number of episodes descending, and you should only show the top 10 locations
- You should use the `episodes_scenes` table
- As an example, your bar chart may look like this:

<img src="./images/NP3.png">

In [ ]:
%%sql

location_episode_count <<

In [ ]:
# SQL output

location_episode_count = location_episode_count.DataFrame()
location_episode_count

In [ ]:
# TODO: visualization

## DV3

- Create a scatter plot showing the relationship between the number of episodes (not scenes) a character appears in and their screen time (in seconds)
    - A character's screen time is the sum of the time lengths of all the scenes that the character appears in
- You should use the `episodes_characters` and `episodes_scenes` tables
- As an example, your scatter plot may look like this:

<img src="./images/NP4.png">

In [ ]:
%%sql

episode_count_screen_time <<

In [ ]:
# SQL output
# Output is big, so just show first 10 rows

episode_count_screen_time = episode_count_screen_time.DataFrame()
episode_count_screen_time.head(10)

In [ ]:
# TODO: visualization

## DV4

- Create a bar chart showing the number of exclusive characters in each season
    - An exclusive character is a character that appeared in only that season, no other season
    - You should order your chart on the number of exclusive characters descending
- You should use the `episodes_characters` table
    - You can assume `characterName` is unique across all characters. That is, a single name is one unique character.
- As an example, your bar chart may look like this:

<img src="./images/NP5.png">

In [ ]:
%%sql

season_exclusive_characters <<

In [ ]:
# SQL output

season_exclusive_characters = season_exclusive_characters.DataFrame()
season_exclusive_characters

In [ ]:
# TODO: visualization