<style  type="text/css">
cool {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

loud {
    font-size: 20pt;
    }

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
</style>

<b><center>
<span style="font-size: 24pt; line-height: 1.2">
COMS W4111: Introduction to Databases<br>
Spring 2024, Sections 002/V02
</span>
</center></b>
<br>
<p>
<i><center>
<span style="font-size: 20pt; line-height: 1.2">
Homework 2: Programming
</span>
</center></i>

# Introduction

This notebook contains HW2 Programming. **Only students on the programming track should complete this part.** To ensure everything runs as expected, work on this notebook in Jupyter.

Submission instructions:

- You will submit **PDF and ZIP files** for this assignment. Gradescope will have two separate assignments for these.
- For the PDF:
    - The most reliable way to save as PDF is to go to your browser's menu bar and click `File -> Print`. **Switch the orientation to landscape mode**, and hit save.
    - **MAKE SURE ALL YOUR WORK (CODE AND SCREENSHOTS) IS VISIBLE ON THE PDF. YOU WILL NOT GET CREDIT IF ANYTHING IS CUT OFF.** Reach out for troubleshooting.
- For the ZIP:
    - Zip the folder that contains this notebook, any screenshots, and the code you write.
    - To avoid freezing Gradescope with too many files, when you finish this assignment, delete any unnecessary directories. Such directories include `venv`, `.idea`, and `.git`.

<hr style="height:2px;">

# Setup

## SQL Magic

The `sql` extension was installed in HW0. Double check that if this cell doesn't work.

In [1]:
%load_ext sql

You may need to change the password below.

In [2]:
%sql mysql+pymysql://root:dbuserdbuser@localhost

In [3]:
%sql SELECT * FROM db_book.student WHERE ID = 12345

 * mysql+pymysql://root:***@localhost
1 rows affected.

[('12345', 'Shankar', 'Comp. Sci.', Decimal('32'))]

## Python Libraries

In [ ]:
!pip install pandas
!pip install sqlalchemy
!pip install requests

In [4]:
import json

import pandas as pd
from sqlalchemy import create_engine
import requests

You may need to change the password below.

In [5]:
engine = create_engine("mysql+pymysql://root:dbuserdbuser@localhost")

<hr style="height:2px;">

# Data Definition and Insertion

## Create Tables

- The directory contains a file ```people_info.csv```. The columns are
    - ```first_name```
    - ```middle_name```
    - ```last_name```
    - ```email```
    - ```employee_type,``` which can be one of ```Professor```, ```Lecturer```, ```Staff```. The value is empty if the person is a student.
    - ```enrollment_year``` which must be in the range ```2016-2023```. The value is empty if the person is an employee.   


- In the cell below, create two tables, `student` and `employee`
    - You should choose appropriate data types for the attributes
    - You should add an attribute `student_id` to `student` and `employee_id` to `employee`. **These attributes should be auto-incrementing numbers.** They are the PKs of their tables.
    - `email` should be unique and non-null in their tables. You don't need to worry about checking whether `email` is unique across both tables.
    - `student` should have all the columns listed above except `employee_type`. You should have some way to ensure that `enrollment_year` is always in range.
    - `employee` should have all the columns listed above except `enrollment_year`. You should have some way to ensure that `employee_type` is one of the valid values.

In [ ]:
%%sql

DROP SCHEMA IF EXISTS s24_hw2;
CREATE SCHEMA s24_hw2;
USE s24_hw2;

## Add CREATE TABLEs below

## Inserting Data

- Below we read `people_info.csv` into a Pandas Dataframe
- You should implement `get_students` and `get_employees`, which extract the student/employee rows from a dataframe of people
- If you implement the functions correctly, the next cell should run with no errors and insert data into the tables you created above

In [6]:
df = pd.read_csv("./people_info.csv")
df

,first_name,middle_name,last_name,email,employee_type,enrollment_year
0,Sanders,Arline,Breckell,abreckell1x@fotki.com,Professor,NaN
1,Zared,NaN,Fenelon,afenelona@themeforest.net,NaN,2021.0
2,Ethelin,NaN,Fidele,afidele12@google.ru,Lecturer,NaN
3,Bibbye,Annabal,Guesford,aguesfordb@tumblr.com,NaN,2018.0
4,Xenia,Ardella,Kief,akieft@free.fr,Staff,NaN
...,...,...,...,...,...,...
95,Norry,NaN,Rubinchik,trubinchik16@howstuffworks.com,NaN,2016.0
96,Doug,NaN,Medforth,vmedforth1o@homestead.com,Staff,NaN
97,Gerty,NaN,O'Donegan,vodoneganf@clickbank.net,NaN,2020.0
98,Anabelle,Wallas,Quimby,wquimby1c@nba.com,NaN,2022.0
99,Sasha,Win,Ruffli,wruffli2q@wordpress.com,Lecturer,NaN

In [7]:
df[df['employee_type'].isna()]

,first_name,middle_name,last_name,email,employee_type,enrollment_year
1,Zared,NaN,Fenelon,afenelona@themeforest.net,NaN,2021.0
3,Bibbye,Annabal,Guesford,aguesfordb@tumblr.com,NaN,2018.0
6,Duffy,Auberon,Pounder,apounder2h@reuters.com,NaN,2017.0
7,Base,NaN,Baybutt,bbaybutty@tmall.com,NaN,2021.0
9,Jenine,Berry,Habberjam,bhabberjam2k@examiner.com,NaN,2021.0
11,Reece,Corbett,Caps,ccapsz@telegraph.co.uk,NaN,2019.0
12,Barry,Cullin,Elias,celias1k@scribd.com,NaN,2018.0
14,Kerwin,Conrade,Foort,cfoortw@vinaora.com,NaN,2020.0
15,Brigida,Cameron,Maclean,cmaclean13@mac.com,NaN,2019.0
16,Woodrow,Camile,Moughtin,cmoughtin17@illinois.edu,NaN,2022.0
17,Veronika,Cordey,Simeons,csimeons2@microsoft.com,NaN,2021.0
18,Quent,NaN,Threadgall,cthreadgall1v@booking.com,NaN,2022.0
21,Kermit,NaN,Glanders,dglanders15@booking.com,NaN,2022.0
23,Avie,Else,Blissitt,eblissitti@youtu.be,NaN,2018.0
25,Dougy,NaN,Burchett,eburchettd@chicagotribune.com,NaN,2022.0
28,Courtnay,Elbert,Gillespie,egillespie2m@slideshare.net,NaN,2020.0
29,Bank,Elane,Guerola,eguerola29@blogger.com,NaN,2021.0
30,Willi,NaN,Kerby,ekerby1p@amazon.com,NaN,2020.0
31,Vincenty,Elisabeth,Marousek,emarousek10@huffingtonpost.com,NaN,2020.0
32,Charline,Ferd,Hartell,fhartell1@meetup.com,NaN,2020.0
33,Vance,NaN,Maffioni,fmaffioni1r@amazon.com,NaN,2020.0
34,Dyna,Felic,Rozenzweig,frozenzweig2i@rambler.ru,NaN,2022.0
35,Granville,Guinevere,Adolphine,gadolphine11@instagram.com,NaN,2017.0
36,Shea,Gail,Bates,gbates1e@alibaba.com,NaN,2018.0
38,Leann,Gabriellia,Burdas,gburdas1i@indiegogo.com,NaN,2021.0
41,Tobiah,Gerek,Offield,goffield1u@addthis.com,NaN,2020.0
42,Sada,NaN,Stidson,gstidsonp@ebay.com,NaN,2022.0
45,Abbey,Helge,Anyene,hanyene2c@newsvine.com,NaN,2019.0
46,Nickolai,Herby,Reddyhoff,hreddyhoff1g@vk.com,NaN,2016.0
51,Mal,Jermaine,Issett,jissett2e@freewebs.com,NaN,2018.0
52,Ira,NaN,Linacre,jlinacreo@webnode.com,NaN,2021.0
54,Trix,NaN,Pretswell,jpretswell1h@xrea.com,NaN,2022.0
55,Winslow,NaN,Scrauniage,jscrauniage28@aol.com,NaN,2017.0
57,Dacey,Katuscha,Cranfield,kcranfield1s@nature.com,NaN,2020.0
63,Emili,Lynnet,Haddinton,lhaddintonn@over-blog.com,NaN,2020.0
69,Travis,Melba,Colbourne,mcolbourne2j@mapquest.com,NaN,2017.0
71,Lynett,Myrwyn,Ionesco,mionesco2n@moonfruit.com,NaN,2020.0
73,Rozelle,NaN,Vigar,mvigar8@vistaprint.com,NaN,2018.0
78,Levey,Ottilie,Tomlins,otomlins27@icq.com,NaN,2020.0
79,Esra,Richard,Coghlin,rcoghlinv@qq.com,NaN,2019.0
80,Fredek,Raddie,Goudie,rgoudie5@blogs.com,NaN,2022.0
83,Carroll,NaN,Venables,rvenablesu@friendfeed.com,NaN,2019.0
84,Meridel,Rawley,Willatts,rwillatts1t@si.edu,NaN,2022.0
85,Kearney,Selie,Gino,sgino1l@bluehost.com,NaN,2016.0
91,Drona,NaN,McKinie,smckinie1a@springer.com,NaN,2018.0
93,Sterne,Sasha,Spooner,sspooner1f@wordpress.org,NaN,2020.0
94,Nonna,NaN,Gillanders,tgillanders9@example.com,NaN,2021.0
95,Norry,NaN,Rubinchik,trubinchik16@howstuffworks.com,NaN,2016.0
97,Gerty,NaN,O'Donegan,vodoneganf@clickbank.net,NaN,2020.0
98,Anabelle,Wallas,Quimby,wquimby1c@nba.com,NaN,2022.0

In [16]:
def get_students(df):
    """Given a dataframe of people df, returns a new dataframe that only contains students.
    The returned dataframe should have all the attributes of the people df except `employee_type`.
    """
    result = df[df['employee_type'].isna()]
    result = result.drop('employee_type', axis=1)
    return result
    
def get_employees(df):
    """Given a dataframe of people df, returns a new dataframe that only contains employees.
    The returned dataframe should have all the attributes of the people df except `enrollment_year`.
    """
    result = df[df['enrollment_year'].isna()]
    result = result.drop('enrollment_year', axis=1)
    return result

In [17]:
student_df = get_students(df)

In [18]:
student_df

,first_name,middle_name,last_name,email,enrollment_year
1,Zared,NaN,Fenelon,afenelona@themeforest.net,2021.0
3,Bibbye,Annabal,Guesford,aguesfordb@tumblr.com,2018.0
6,Duffy,Auberon,Pounder,apounder2h@reuters.com,2017.0
7,Base,NaN,Baybutt,bbaybutty@tmall.com,2021.0
9,Jenine,Berry,Habberjam,bhabberjam2k@examiner.com,2021.0
11,Reece,Corbett,Caps,ccapsz@telegraph.co.uk,2019.0
12,Barry,Cullin,Elias,celias1k@scribd.com,2018.0
14,Kerwin,Conrade,Foort,cfoortw@vinaora.com,2020.0
15,Brigida,Cameron,Maclean,cmaclean13@mac.com,2019.0
16,Woodrow,Camile,Moughtin,cmoughtin17@illinois.edu,2022.0
17,Veronika,Cordey,Simeons,csimeons2@microsoft.com,2021.0
18,Quent,NaN,Threadgall,cthreadgall1v@booking.com,2022.0
21,Kermit,NaN,Glanders,dglanders15@booking.com,2022.0
23,Avie,Else,Blissitt,eblissitti@youtu.be,2018.0
25,Dougy,NaN,Burchett,eburchettd@chicagotribune.com,2022.0
28,Courtnay,Elbert,Gillespie,egillespie2m@slideshare.net,2020.0
29,Bank,Elane,Guerola,eguerola29@blogger.com,2021.0
30,Willi,NaN,Kerby,ekerby1p@amazon.com,2020.0
31,Vincenty,Elisabeth,Marousek,emarousek10@huffingtonpost.com,2020.0
32,Charline,Ferd,Hartell,fhartell1@meetup.com,2020.0
33,Vance,NaN,Maffioni,fmaffioni1r@amazon.com,2020.0
34,Dyna,Felic,Rozenzweig,frozenzweig2i@rambler.ru,2022.0
35,Granville,Guinevere,Adolphine,gadolphine11@instagram.com,2017.0
36,Shea,Gail,Bates,gbates1e@alibaba.com,2018.0
38,Leann,Gabriellia,Burdas,gburdas1i@indiegogo.com,2021.0
41,Tobiah,Gerek,Offield,goffield1u@addthis.com,2020.0
42,Sada,NaN,Stidson,gstidsonp@ebay.com,2022.0
45,Abbey,Helge,Anyene,hanyene2c@newsvine.com,2019.0
46,Nickolai,Herby,Reddyhoff,hreddyhoff1g@vk.com,2016.0
51,Mal,Jermaine,Issett,jissett2e@freewebs.com,2018.0
52,Ira,NaN,Linacre,jlinacreo@webnode.com,2021.0
54,Trix,NaN,Pretswell,jpretswell1h@xrea.com,2022.0
55,Winslow,NaN,Scrauniage,jscrauniage28@aol.com,2017.0
57,Dacey,Katuscha,Cranfield,kcranfield1s@nature.com,2020.0
63,Emili,Lynnet,Haddinton,lhaddintonn@over-blog.com,2020.0
69,Travis,Melba,Colbourne,mcolbourne2j@mapquest.com,2017.0
71,Lynett,Myrwyn,Ionesco,mionesco2n@moonfruit.com,2020.0
73,Rozelle,NaN,Vigar,mvigar8@vistaprint.com,2018.0
78,Levey,Ottilie,Tomlins,otomlins27@icq.com,2020.0
79,Esra,Richard,Coghlin,rcoghlinv@qq.com,2019.0
80,Fredek,Raddie,Goudie,rgoudie5@blogs.com,2022.0
83,Carroll,NaN,Venables,rvenablesu@friendfeed.com,2019.0
84,Meridel,Rawley,Willatts,rwillatts1t@si.edu,2022.0
85,Kearney,Selie,Gino,sgino1l@bluehost.com,2016.0
91,Drona,NaN,McKinie,smckinie1a@springer.com,2018.0
93,Sterne,Sasha,Spooner,sspooner1f@wordpress.org,2020.0
94,Nonna,NaN,Gillanders,tgillanders9@example.com,2021.0
95,Norry,NaN,Rubinchik,trubinchik16@howstuffworks.com,2016.0
97,Gerty,NaN,O'Donegan,vodoneganf@clickbank.net,2020.0
98,Anabelle,Wallas,Quimby,wquimby1c@nba.com,2022.0

In [19]:
employee_df = get_employees(df)

In [20]:
employee_df

,first_name,middle_name,last_name,email,employee_type
0,Sanders,Arline,Breckell,abreckell1x@fotki.com,Professor
2,Ethelin,NaN,Fidele,afidele12@google.ru,Lecturer
4,Xenia,Ardella,Kief,akieft@free.fr,Staff
5,Cari,Andriana,Leask,aleask1n@devhub.com,Lecturer
8,Lemmy,Burr,Bradnocke,bbradnockek@nifty.com,Lecturer
10,Sibylle,Bearnard,Lalley,blalley2d@rediff.com,Lecturer
13,Lu,Cinnamon,Flaxman,cflaxman1b@cdbaby.com,Lecturer
19,Hobart,Dominic,Croal,dcroalx@purevolume.com,Professor
20,Marylin,Darcy,Favey,dfavey2p@mozilla.com,Staff
22,Ailbert,Danie,Warmisham,dwarmishame@soundcloud.com,Staff
24,Karon,NaN,Bree,ebree1z@creativecommons.org,Professor
26,Maybelle,Esteban,Cella,ecella26@mail.ru,Staff
27,Lelah,Ellette,Fulk,efulk1d@discuz.net,Staff
37,Gisela,NaN,Blagden,gblagden1q@buzzfeed.com,Professor
39,Niki,Gardiner,Form,gform18@blogger.com,Staff
40,Suki,NaN,Hellyar,ghellyar2a@cornell.edu,Staff
43,Carmine,NaN,Tolman,gtolmanr@slideshare.net,Staff
44,Wells,NaN,Yousef,gyousef2r@spotify.com,Professor
47,Christie,NaN,Siegertsz,hsiegertsz21@instagram.com,Professor
48,Doyle,NaN,Aslin,jaslin24@redcross.org,Lecturer
49,Robinett,Jami,Charte,jcharte1y@merriam-webster.com,Staff
50,Olwen,NaN,Hedley,jhedley1m@disqus.com,Staff
53,Renae,Jaquith,Plessing,jplessing0@samsung.com,Staff
56,Lilllie,NaN,Snodin,jsnodin20@princeton.edu,Lecturer
58,Sayers,Karon,McKnish,kmcknishs@reddit.com,Lecturer
59,Electra,Krystle,Morfell,kmorfell2g@istockphoto.com,Professor
60,Matthieu,Kalle,Slipper,kslipper2f@nytimes.com,Staff
61,Nadia,NaN,Trehearn,ktrehearn19@tinyurl.com,Lecturer
62,Clim,NaN,Guislin,lguislin2o@chicagotribune.com,Professor
64,Holli,NaN,Henstridge,lhenstridgeh@sogou.com,Lecturer
65,Meghan,NaN,Kleinschmidt,lkleinschmidtl@squarespace.com,Lecturer
66,Genni,NaN,Purbrick,lpurbrick25@canalblog.com,Professor
67,Bonny,NaN,Scheffel,lscheffel7@taobao.com,Professor
68,Mendie,NaN,Tennick,ltennick3@aboutads.info,Staff
70,Karole,NaN,Inkin,minkinc@google.de,Staff
72,Kahaleel,Meg,Penzer,mpenzer14@dailymail.co.uk,Professor
74,Darrin,Mario,Wynrahame,mwynrahamem@admin.ch,Professor
75,Carey,Maudie,Wyrall,mwyrallj@scientificamerican.com,Staff
76,Jacky,Nydia,Bolles,nbolles23@ucoz.ru,Staff
77,Francene,NaN,MacNeely,nmacneely22@cpanel.net,Lecturer
81,Bamby,Rubetta,Mabbs,rmabbs4@xing.com,Lecturer
82,Ari,Rheta,Sellek,rsellek6@oakley.com,Lecturer
86,Bettina,Sonya,Higgonet,shiggonet2b@163.com,Lecturer
87,Jany,Sherry,Johl,sjohlg@soundcloud.com,Professor
88,Pattie,NaN,Lyles,slyles1j@amazon.de,Staff
89,Kristin,NaN,Malacrida,smalacrida1w@economist.com,Staff
90,Yehudi,Sile,McColley,smccolleyq@amazon.com,Staff
92,Duncan,Shellie,Sillars,ssillars2l@unicef.org,Professor
96,Doug,NaN,Medforth,vmedforth1o@homestead.com,Staff
99,Sasha,Win,Ruffli,wruffli2q@wordpress.com,Lecturer

In [ ]:
student_df.to_sql("student", schema="s24_hw2", index=False, if_exists="append", con=engine)
employee_df.to_sql("employee", schema="s24_hw2", index=False, if_exists="append", con=engine)

<hr style="height:2px;">

# API Implementation

- You will create an API that allows users to [read, create, update, and delete](https://en.wikipedia.org/wiki/Create,_read,_update_and_delete) students and employees
- The `src/` directory has the following structure:

```
src
|
|- db.py
|
|- db_test.py
|
|- main.py
```

## Python Environment

1. Open the `src/` folder in PyCharm
2. Follow [these instructions](https://www.jetbrains.com/help/pycharm/creating-virtual-environment.html#python_create_virtual_env) to set up a virtual environment. This'll give us an blank, isolated environment for packages that we install. It's fine to use the `Virtualenv Environment` tab.
3. Open the Terminal in PyCharm. Make sure your virtual environment is active (you'll probably see `(venv)` somewhere).
    1. If you don't, [the docs](https://docs.python.org/3/library/venv.html#how-venvs-work) may be helpful
4. Run `pip install -r requirements.txt`
    1. `requirements.txt` contains all the packages that the project needs, such as `pymysql`

## db.py

- Implement the eight methods in `db.py`: `build_select_query`, `select`, `build_insert_query`, `insert`, `build_update_query`, `update`, `build_delete_query`, and `delete`
    - To see examples of the inputs and expected outputs for the `build_*` functions, see `db_test.py`
    
## db_test.py
- To test your `build_*` methods, run the `db_test.py` file. This file defines some unit tests. 
- **Post a screenshot of your successful tests below**

| <img src="./your-file-here.jpg"> |
| :---: |
| __Successful Unit Tests__|

## main.py

- `main.py` declares our API and defines paths for it
    - The `@app` decorator above each method describes the HTTP method and the path associated with that method
- Implement the ten endpoints in `main.py`: `get_students`, `get_student`, `post_student`, `put_student`, `delete_student`, `get_employees`, `get_employee`, `post_employee`, `put_employee`, and `delete_employee`

<hr style="height:2px;">

# Testing Your API

## Student Testing

- With your API running, execute the following cells
    - Successful cells may have no output. However, failing cells will generate an error.

In [ ]:
BASE_URL = "http://localhost:8002/"

def print_json(j):
    print(json.dumps(j, indent=2))

In [ ]:
# Healthcheck

r = requests.get(BASE_URL)
print(r.text)

In [ ]:
# Get all students

r = requests.get(BASE_URL + "students")
j = r.json()

assert len(j) == 50, "There should be 50 students after inserting data"

In [ ]:
# Get specific attributes

r = requests.get(BASE_URL + "students?enrollment_year=2018&fields=first_name,last_name")
j = r.json()

print_json(j)
assert len(j) == 7, "There should be 7 students that graudated in 2018"
assert all(map(lambda o: len(o) == 2 and "first_name" in o and "last_name" in o, j)), \
"All student JSONs should have two attributes, first_name and last_name"

In [ ]:
# Test bad gets

# Invalid ID
r = requests.get(BASE_URL + "students/100")
assert r.status_code == 404, f"Invalid ID: Expected 404 Not Found but got {r.status_code}"

In [ ]:
# Create a new student

or_student = {
    "first_name": "Michael",
    "last_name": "Jan",
    "email": "ap@columbia.edu",
    "enrollment_year": 2019,
}

r = requests.post(BASE_URL + "students", json=or_student)
assert r.status_code == 201, f"Expected 201 Created but got {r.status_code}"

In [ ]:
# Get that student

r = requests.get(BASE_URL + "students/51")
j = r.json()

print_json(j)
assert j == {
    'student_id': 51,
    'first_name': 'Michael',
    'middle_name': None,
    'last_name': 'Jan',
    'email': 'ap@columbia.edu',
    'enrollment_year': 2019,
}, "Newly inserted student does not match what we specified"

In [ ]:
# Test bad posts

# Duplicate email
bad_student = {
    "first_name": "Foo",
    "last_name": "Bar",
    "email": "ap@columbia.edu",
    "enrollment_year": 2018,
}
r = requests.post(BASE_URL + "students", json=bad_student)
assert r.status_code == 400, f"Duplicate email: Expected 400 Bad Request but got {r.status_code}"

# Email not specified
bad_student = {
    "first_name": "Foo",
    "last_name": "Bar",
    "enrollment_year": 2018,
}
r = requests.post(BASE_URL + "students", json=bad_student)
assert r.status_code == 400, f"Email not specified: Expected 400 Bad Request but got {r.status_code}"

# Invalid year
bad_student = {
    "first_name": "Foo",
    "last_name": "Bar",
    "email": "fb@columbia.edu",
    "enrollment_year": 2011,
}
r = requests.post(BASE_URL + "students", json=bad_student)
assert r.status_code == 400, f"Invalid year: Expected 400 Bad Request but got {r.status_code}"

In [ ]:
# Update the student

r = requests.put(BASE_URL + "students/51", json={"enrollment_year": "2020"})
assert r.status_code == 200, f"Expected 200 OK but got {r.status_code}"

In [ ]:
# Test bad puts

# Duplicate email
bad_student = {
    "email": "csimeons2@microsoft.com",
}
r = requests.put(BASE_URL + "students/51", json=bad_student)
assert r.status_code == 400, f"Duplicate email: Expected 400 Bad Request but got {r.status_code}"

# Email set to null
bad_student = {
    "email": None
}
r = requests.put(BASE_URL + "students/51", json=bad_student)
assert r.status_code == 400, f"Null email: Expected 400 Bad Request but got {r.status_code}"

# Invalid year
bad_student = {
    "enrollment_year": 2011
}
r = requests.put(BASE_URL + "students/51", json=bad_student)
assert r.status_code == 400, f"Invalid year: Expected 400 Bad Request but got {r.status_code}"

# Invalid ID
bad_student = {
    "enrollment_year": 2018
}
r = requests.put(BASE_URL + "students/100", json=bad_student)
assert r.status_code == 404, f"Invalid ID: Expected 404 Not Found but got {r.status_code}"

In [ ]:
# Delete the student

r = requests.delete(BASE_URL + "students/51")
assert r.status_code == 200, f"Expected 200 OK but got {r.status_code}"

In [ ]:
# Try to get deleted student

r = requests.get(BASE_URL + "students/51")
assert r.status_code == 404, f"Expected 404 Not Found but got {r.status_code}"

In [ ]:
# Test bad deletes

r = requests.delete(BASE_URL + "students/100")
assert r.status_code == 404, f"Invalid ID: Expected 404 Not Found but got {r.status_code}"

## Employee Testing

- Write similar tests below to test your employee endpoints