<style  type="text/css">
cool {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

loud {
    font-size: 20pt;
    }

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
</style>

<b><center>
<span style="font-size: 24pt; line-height: 1.2">
COMS W4111: Introduction to Databases<br>
Spring 2024, Sections 002/V02
</span>
</center></b>
<br>
<p>
<i><center>
<span style="font-size: 20pt; line-height: 1.2">
Midterm
</span>
</center></i>

# Introduction

This notebook contains the midterm. **Both Programming and Nonprogramming tracks should complete this.** To ensure everything runs as expected, work on this notebook in Jupyter.

- You may post **privately** on Edstem or attend OH for clarification
    - TAs will not be providing hints

Submission instructions:

* You will submit **PDF and ZIP files** for this assignment. Gradescope will have two separate assignments for these.
* For the PDF:
    * The most reliable way to save as PDF is to go to your browser's menu bar and click `File -> Print`. Switch the orientation to landscape mode, and hit save.
    * **MAKE SURE ALL YOUR WORK (CODE AND SCREENSHOTS) IS VISIBLE ON THE PDF. YOU WILL NOT GET CREDIT IF ANYTHING IS CUT OFF.** Reach out for troubleshooting.
* For the ZIP:
    * Zip a folder containing this notebook and any screenshots.
* Further submission instructions may be posted on Edstem.

<hr style="height:2px;">

# Setup

In [ ]:
%load_ext sql
%sql mysql+pymysql://root:dbuserdbuser@localhost

In [ ]:
import pandas
from sqlalchemy import create_engine
engine = create_engine("mysql+pymysql://root:dbuserdbuser@localhost")

<hr style="height:2px;">

# Written

- You may use lecture notes, slides, and the textbook
- You may use external resources, but you must cite your sources
- As usual, keep things short

## W1

Briefly explain structured data, semi-structured data, and unstructured data. Give an example of each type of data.

_Your answer here_

## W2

Codd's 0th rule states:

    For any system that is advertised as, or claimed to be, a relational database management system, that system must be able to manage databases entirely through its relational capabilities.
    
Briefly explain and give examples of how the rule applied to:

1. Metadata
2. Security

_Your answer here_

## W3

Codd's 6th rule states:

    All views that are theoretically updatable are also updatable by the system.
    
Using the following table definition, use SQL (`create view`) to define

    1. Two views of the table that are not possible to update
    2. One view that is possible to update
    
You do not need to execute the statements. We are focusing on your understanding.

```
create table student
(
    social_security_no char(9) not null primary key,
    last_name varchar(64) null,
    first_name varchar(64) null,
    enrollment_year year null,
    total_credits int null
);
```

_Your answer here_

## W4

The Columbia University directory of courses uses `20241COMS4111W002` for this sections "key".

1. Is this key atomic? Explain.
2. Explain why having non-atomic keys creates problems for indexes.

_Your answer here_

## W5

Briefly explain the following concepts:

1. Natural join
2. Equi-join
3. Theta join
4. Left join
5. Right join
6. Outer join
7. Inner join

_Your answer here_

## W6

The _Classic Models_ database has several foreign key constraints. For instance, _orderdetails.orderNumber_ references _orders.orderNumber_.

1. Briefly explain the concept of _cascading actions_ relative to foreign keys.
2. How could cascading actions be helpful for the above foreign key relationship?

_Your answer here_

## W7

Give two reasons for using an associative entity to implement a relationship instead of a foreign key.

_Your answer here_

## W8

Briefly explain how SQL is closed under its operations. Give a simple query that takes advantage of this.

_Your answer here_

## W9

Briefly explain the differences between:

1. Database stored procedures
2. Database functions
3. Database triggers

_Your answer here_

## W10

List three benefits/use cases for defining views.

_Your answer here_

<hr style="height:2px;">

# Relational Algebra

- Use the [Relax calculator](https://dbis-uibk.github.io/relax/calc/gist/4f7866c17624ca9dfa85ed2482078be8/relax-silberschatz-english.txt/0) for these questions.
- For each question, you need to show your algebra statement and a screenshot of your tree and output.
    - **For your screenshot, make sure the entire tree and output are shown.** You may need to zoom out.
- The suggestions on which relations to use are hints, not requirements.

## R1

- Write a relational algebra statement that produces a relation showing **teachers that taught sections in buildings that didn't match their department's building**.
    - A section is identified by `(course_id, sec_id, semester, year)`.
- Your output should have the following columns (names should match exactly; there should be no prefixes):
    - `instructor_name`
    - `instructor_dept`
    - `course_id`
    - `sec_id`
    - `semester`
    - `year`
    - `course_building`
    - `dept_building`
- You should use the `teaches`, `section`, `instructor`, and `department` relations.


- As an example, one row you should get is

| instructor_name | instructor_dept | course_id | sec_id | semester | year | course_building | dept_building |
|-----------------|-----------------|-----------|--------|----------|------|-----------------|---------------|
| 'Srinivasan'    | 'Comp. Sci.'    | 'CS-101'  | 1      | 'Fall'   | 2009 | 'Packard'       | 'Taylor'      |

- Srinivasan taught CS-101, section 1 in Fall of 2009 in the Packard building. However, Srinivasan is in the CS department, whose building is Taylor.

Algebra statement:

```
π ID, name, course_id, sec_id, semester, year, building, room_number(
	(σ dept_name='Comp. Sci.' ∧ year=2009 
		(teaches ⨝ instructor)
		) 
⨝ section)
```

Execution:

| <img src="./R0-sample.jpg"> |
| :---: |
| __R1 Execution Result__|

## R2

- Some students don't have instructor advisors. Some instructors don't have student advisees.
- Write a relational algebra statement that produces a relation showing **valid pairing between unadvised students and instructors with no advisees**.
    - A pairing is valid only if the student's department and instructor's department match.
- Your output should have the following columns (names should match exactly; there should be no prefixes):
    - `instructor_name`
    - `student_name`
    - `dept_name`
- You should use the `advisor`, `student`, and `instructor` relations.
- **You may only use the following operators:** π, σ, =, ≠, ∧ (and), ∨ (or), ρ, ←, ⨝, ⟕, ⟖, ⟗
    - You may not need to use all of them.
    - Notably, you may **not** use anti-join or set difference.
    

- As an example, one row you should get is

| instructor_name | student_name | dept_name |
|-----------------|--------------|-----------|
| 'El Said'       | 'Brandt'     | 'History' |

- El Said has no advisees, and Brandt has no advisor. They are both in the history department.
- The same instructor may show up multiple times, but the student should be different each time. Similarly, the same student may show up multiple times, but the instructor should be different each time.

Algebra statement:

```
π ID, name, course_id, sec_id, semester, year, building, room_number(
	(σ dept_name='Comp. Sci.' ∧ year=2009 
		(teaches ⨝ instructor)
		) 
⨝ section)
```

Execution:

| <img src="./R0-sample.jpg"> |
| :---: |
| __R1 Execution Result__|

## R3

- Consider `new_section`, defined as:

```
new_section = π course_id, sec_id, building, room_number, time_slot_id (section)
```

- `new_section` contains sections, their time assignments, and room assignments independent of year and semester.
    - For this question, you can assume all the sections listed in `new_section` occur in the same year and semester.
- Write a relational algebra statement that produces a relation showing **conflicting sections**.
    - Two sections conflict if they have the same `(building, room_number, time_slot_id)`.
- Your output should have the following columns (names should match exactly; there should be no prefixes):
    - `first_course_id`
    - `first_sec_id`
    - `second_course_id`
    - `second_sec_id`
    - `building`
    - `room_number`
    - `time_slot_id`
- Your output cannot include courses and sections that conflict with themselves, or have two rows that show the same conflict.


- Good news: I'm going to give you the correct output!

| first_course_id | first_sec_id | second_course_id | second_sec_id | building | room_number | time_slot_id |
|-----------------|--------------|------------------|---------------|----------|-------------|--------------|
| 'CS-190'        | 2            | 'CS-347'         | 1             | 'Taylor' | 3128        | 'A'          |
| 'CS-319'        | 2            | 'EE-181'         | 1             | 'Taylor' | 3128        | 'C'          |

- Bad news: Your output must match mine **exactly**. The order of `first_course_id` and `second_course_id` cannot be switched.
    - Hint: You can do string comparisons in Relax using the inequality operators.

Algebra statement:

```
π ID, name, course_id, sec_id, semester, year, building, room_number(
	(σ dept_name='Comp. Sci.' ∧ year=2009 
		(teaches ⨝ instructor)
		) 
⨝ section)
```

Execution:

| <img src="./R0-sample.jpg"> |
| :---: |
| __R1 Execution Result__|

<hr style="height:2px;">

# ER Modeling

## Definition to Model

- You're in charge of creating a model for a new music app, Dotify.


- The model has the following entities:
    1. `Artist` has the properties:
        - artist_id (primary key)
        - name
        - description
        - date_joined
    2. `Album` has the properties:
        - album_id (primary key)
        - name
        - release_date
    3. `Song` has the properties:
        - song_id (primary key)
        - title
        - song_length
        - number_of_plays
    4. `User` has the properties:
        - user_id (primary key)
        - name
        - bio
        - date_joined
    5. `Review` has the properties:
        - review_id (primary key)
        - number_of_stars
        - review_text
    6. `Playlist` has the properties:
        - playlist_id (primary key)
        - name
        - description
        
        
- The model has the following relationships:
    1. `Artist-Album`: An artist can have any number of albums. An album belongs to one artist.
    2. `Album-Song`: An album can have at least one song. A song is on exactly one album.
    3. `Artist-Song`: An artist can have any number of songs. A song has at least one artist.
    4. `Album-Review`: An album can have any number of reviews. A review is associated with exactly one album.
    5. `User-Review`: A user can write any number of reviews. A review is associated with exactly one user.
    6. `User-Playlist`: A user can have any number of playlists. A playlist belongs to exactly one user.
    7. `Song-Playlist`: A song can be on any number of playlists. A playlist contains at least one song.
    
    
- Other requirements:
    1. You may **only** use the [four Crow's Foot](https://www.inf.usi.ch/faculty/soule/teaching/2014-spring/2014-03-07/images/crows-feet-notation.png) notations shown in class.
    2. A user can leave at most one review per album (you don't need to represent this in your diagram). However, reviews can change over time. Your model must support the ability to keep track of a user's current and previous reviews for an album as well as the dates for the reviews.
    3. Playlists can change over time. Your model must support the ability to keep track of current songs in a playlist as well as which songs were on a playlist for what date ranges.
    4. You may not directly link many-to-many relationships. You must use an associative entity.
    5. You may (and should) add attributes to the entities and create new entities to fulfill the requirements. **Do not forget about foreign keys.**
    6. You may add notes to explain any reasonable assumptions you make, either on the Lucidchart or below.
        - It would be beneficial, for instance, to document how you implemented requirements 2 and 3.

_Assumptions and Documentation_
- ...
- ...

Diagram:

| <img src="./diagram-place-holder.jpg"> |
| :---: |
| __Definition to Model ER Diagram__|

## Model to DDL

- This question tests your ability to convert an ER diagram to DDL.
- Given the ER diagram below, write `create table` statements to implement the model.
    - You should choose appropriate data types, nullness, etc.
    - **You are required to implement the assumptions shown in the diagram.** You can document your other assumptions.
    - You don't need to execute your statements. You also don't need to worry about details like creating/using a database.
    
| <img src="./model-to-sql.png"> |
| :---: |
| __Model to DDL ER Diagram__|

Answer:


_Assumptions and Documentation_
- ...
- ...


```

create table ...

```

<hr style="height:2px;">

# Data and Schema Cleanup

## Setup

- There are several issues with the `classicmodels` schema. Two issues are:
    - Having programs or users enter country names for `customers.country` is prone to error.
    - `products.productCode` is clearly not an atomic value.
    

- The following code does the following:
    1. Creates a schema for this question
    2. Creates copies of `classicmodels.customers` and `classicmodels.products`
    3. Loads a table of [ISO country codes](https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes)

In [ ]:
%%sql

drop schema if exists classicmodels_midterm;
create schema classicmodels_midterm;
use classicmodels_midterm;

create table customers as select * from classicmodels.customers;
create table products as select * from classicmodels.products;

In [ ]:
iso_df = pandas.read_csv('./wikipedia-iso-country-codes.csv')
iso_df.to_sql('countries', schema='classicmodels_midterm', 
              con=engine, index=False, if_exists="replace")

In [ ]:
%%sql

alter table countries
    change `English short name lower case` short_name varchar(64) null;

alter table countries
    change `Alpha-2 code` alpha_2_code char(2) null;

alter table countries
    change `Alpha-3 code` alpha_3_code char(3) not null;

alter table countries
    change `Numeric code` numeric_code smallint unsigned null;

alter table countries
    change `ISO 3166-2` iso_text char(13) null;
    
alter table countries
    add primary key (alpha_3_code);
    
select * from countries limit 10;

## DE1

- There are four values in `customers.country` that do not appear in `countries.short_name`.
- Write a query that finds these four countries.
    - Hint: Norway should be one of these countries.

In [ ]:
%%sql

## DE2

- `Norway` actually does appear in `countries.short_name`. The reason it appeared in DE1 is because there's a space after the name (`Norway_` instead of `Norway`).
- The mapping for the other countries is:

| customers.country | countries.short_name |
| :---: | :---: |
| USA | United States |
| UK | United Kingdom |
| Russia | Russian Federation |

- Write `update table` statements to correct the values in `customers.country` so that all the values in that attribute appear in `countries.short_name`.

In [ ]:
%%sql

## DE3

- The PK of `countries` is `alpha_3_code`. We want that as a FK in `customers`.

1. Create a column `customers.iso_code`
2. Set `customers.iso_code` as a FK that references `countries.alpha_3_code`
3. Fill `customers.iso_code` with the appropriate data based on `customers.country`
4. Drop `customers.country`
5. Create a view `customers_country` of form `(customerNumber, customerName, country, iso_code)`

Bonus point: I would ask you to create an index on `customers.iso_code`, but this is actually already done for us. When was an index created on `customers.iso_code`?

_Answer_

In [ ]:
%%sql

## DE4

- To test your code, output a table that shows the number of customers from each country.
- You should use your `customers_country` view.
- Your table should have the following attributes:
    - `country_iso`
    - `number_of_customers`
- Order your table from greatest to least `number_of_customers`.
- Show only the first 10 rows.

In [ ]:
%%sql

## DE5

- `products.productCode` appears to be 3 separate values joined by an underscore.
    - I have no idea what the values mean, but let's pretend we do know for the sake of this question.
- Write `alter table` statements to create 3 new columns: `product_code_letter`, `product_code_scale`, and `product_code_number`.
    - Choose appropriate data types. `product_code_letter` should always be a single letter.

In [ ]:
%%sql

## DE6

- As an example, for the product code `S18_3856`, the product code letter is `S`, the product code scale is `18`, and the product code number is `3856`.
    - I know the product code scale doesn't always match `products.productScale`. Let's ignore this for now.

1. Populate `product_code_letter`, `product_code_scale`, and `product_code_number` with the appropriate values based on `productCode`.
2. Change the PK of `products` from `productCode` to `(product_code_letter, product_code_scale, product_code_number)`.
3. Drop `productCode`.

In [ ]:
%%sql

## DE7

- To test your code, output a table that shows the products whose `product_code_scale` doesn't match `productScale`.
- Your table should have the following attributes:
    - `product_code_letter`
    - `product_code_scale`
    - `product_code_number`
    - `productScale`
    - `productName`
- Order your table on `productName`.

In [ ]:
%%sql

<hr style="height:2px;">

# SQL

- Use the `classicmodels` database for these questions.
- The suggestions on which tables to use are hints, not requirements.

In [ ]:
%sql use classicmodels

## SQL1

- Write a query that produces a table of form `(productName, productLine, productVendor, totalRevenue)`.
    - Attribute names should match exactly.
    - The `totalRevenue` for a product is the sum of `quantityOrdered*priceEach` across all the rows the product appears in in `orderdetails`.
    - You should consider all orders, regardless of `orders.status`.
- Only include products with `totalRevenue` greater than $150,000.
- Order your output on `totalRevenue` descending.


- You should use the `products` and `orderdetails` tables.

In [ ]:
%%sql

## SQL2

- Write a query that produces a table of form `(productCode, productName, productVendor, customerCount)`.
    - Attribute names should match exactly.
    - `customerCount` is the number of **distinct** customers that have bought the product.
        - Note that the same customer may buy a product multiple times. This only counts as one customer in the product's `customerCount`.
    - You should consider all orders, regardless of `status`.
- Order your table from largest to smallest `customerCount`, then on `productCode` alphabetically.
- Only show the first 10 rows.


- You should use the `orders` and `orderdetails` tables.

In [ ]:
%%sql

## SQL3

- Write a query that produces a table of form `(customerName, month, year, monthlyExpenditure, creditLimit)`.
    - Attribute names should match exactly.
    - `monthlyExpenditure` is the total amount of payments made by a customer in a specific month and year based on the `payments` table.
        - Some customers have never made any payments. For these customers, `monthlyExpenditure` should be 0. `month` and `year` can be null.
- Only show rows where `monthlyExpenditure` exceeds `creditLimit` **or** the customer has never made any payments.
- Order your table on `monthlyExpenditure` descending, then on `customerName` alphabetically.
- Only show the first 10 rows.


- You should use the `payments` and `customers` tables.

In [ ]:
%%sql

## SQL4

- Write a query that produces a table of form `(productCode, productName, productLine, productVendor, productDescription)`.
    - Attribute names should match exactly.
- **You should only keep products that have never been ordered by a French customer.**
    - You should consider all orders, regardless of `status`.
- Order your table on `productCode`.


- You should use the `customers`, `orders`, and `orderdetails` tables.

In [ ]:
%%sql

## SQL5

- A customer can have a sales rep employee.
- Corporate is deciding which employees to give raises to.
    - A raise is given for the reason `customers` if an employee has 8 or more customers.
    - A raise is given for the reason `orders` if the total number of orders made by customers associated with an employee is 30 or greater.
        - You should consider all orders, regardless of `status`.
    - A raise is given for the reason `both` if both conditions above are true.
- Write a query that produces a table of form `(firstName, lastName, totalCustomers, totalCustomerOrders, raiseBecause)`.
    - Attribute names should match exactly.
    - `firstName` and `lastName` are for the employee.
    - `totalCustomers` is the total number of customers associated with an employee.
    - `totalCustomerOrders` is the total number of orders made by customers associated with an employee.
    - `raiseBecause` is one of `customers`, `orders`, and `both`.
- Your table should only show employees eligible for raises, i.e., `raiseBecause` should not be null.
- Order your table on `firstName`.


- You should use the `customers`, `orders`, and `employees` tables.

In [ ]:
%%sql