<style  type="text/css">
cool {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

loud {
    font-size: 20pt;
    }

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
</style>

<b><center>
<span style="font-size: 24pt; line-height: 1.2">
COMS W4111: Introduction to Databases<br>
Spring 2024, Sections 002/V02
</span>
</center></b>
<br>
<p>
<i><center>
<span style="font-size: 20pt; line-height: 1.2">
Homework 4: Common<br>
</span>
</center></i>

# Introduction

- This notebook contains HW 4. **Both Programming and Nonprogramming tracks should complete this homework.**
- You will submit **PDF and ZIP files** for this assignment. Gradescope will have two separate assignments for these.
- For the PDF:
    - The most reliable way to save as PDF is to go to your browser's menu bar and click `File -> Print`. Switch the orientation to landscape mode, and hit save.
    - **MAKE SURE ALL YOUR WORK (CODE AND SCREENSHOTS) IS VISIBLE ON THE PDF. YOU WILL NOT GET CREDIT IF ANYTHING IS CUT OFF.** Reach out for troubleshooting.
    - **MAKE SURE YOU DON'T SUBMIT A SINGLE PAGE PDF.** Your PDF should have multiple pages.
- For the ZIP:
    - Zip a folder containing this notebook and any screenshots.
    - You may delete any unnecessary files, such as caches.

# Setup

In [ ]:
!pip install pymongo
!pip install py2neo

In [ ]:
import pandas
import py2neo
import pymongo

# TODO: Fill in with your Mongo URL
mongo_url = ""
mongo_client = pymongo.MongoClient(mongo_url)

# TODO: Fill in with your Neo4j credentials
neo4j_url = ""
neo4j_password = ""
# username is always "neo4j"
graph = py2neo.Graph(neo4j_url, auth=("neo4j", neo4j_password))

def run_cypher(q):
    return graph.run(q).to_table()

<hr style="height:2px;">

# Written Questions

- As usual, do not bloviate

## W1

Explain the following concepts:

1. Clustering index
2. Nonclustering index
3. Sparse index
4. Dense index


_Answer_

## W2

Explain why nonclustering indexes must be dense.


_Answer_

## W3

Suppose that, in a table containing information about Columbia classes, the columns `class_code`, `semester`, and `year` are queried frequently **individually**. Would putting a composite index on `(class_code, semester, year)` be a good idea? Why or why not?


_Answer_

## W4

Explain the following concepts:

1. Hash index
2. B+ tree index


_Answer_

## W5

Give one advantage and one disadvantage of hash indexes compared to B+ tree indexes.


_Answer_

## W6

Explain the role of the buffer in a DBMS. Why doesn't the DBMS simply load the entire database in its buffer?


_Answer_

## W7

Explain the following concepts as they relate to buffer replacement policies:

1. Clairvoyant algorithm
2. Least recently used strategy
3. Most recently used strategy
4. Clock algorithm


_Answer_

## W8

NoSQL databases have become increasingly popular for applications. List 3 benefits of using NoSQL databases over SQL ones.


_Answer_

## W9

Explain the concept between impedance mismatch and how it relates to SQL vs. NoSQL databases.


_Answer_

## W10

The relationship between students and courses is many-to-many. Due to its emphasis on atomicity, modeling this relationship in a relational database would require an associative entity. Explain how this relationship could be modeled in

1. A document database, such as MongoDB
2. A graph database, such as Neo4j


_Answer_

<hr style="height:2px;">

# MongoDB

- The cell below creates a database `w4111`, then a cluster `episodes` inside `w4111`. It then inserts GoT episode data into the cluster.

In [ ]:
import json

with open("episodes.json") as f:
    data = json.load(f)

episodes = mongo_client["w4111"]["episodes"]    
episodes.drop()
episodes.insert_many(data)
print("Successfully inserted episode data")

## M1

- Write and execute a query that shows episodes and the number of scenes they contain
- Your aggregation should have the following attributes:
    - `episodeTitle`
    - `seasonNum`
    - `episodeNum`
    - `numScenes`, which is the length of the episode's `scenes` array
- Order your output on `numScenes` descending, and only keep episodes with more than 100 scenes

In [ ]:
res = episodes.aggregate(
    # TODO: Put your query here
)

pandas.DataFrame(list(res))

## M2

- Write and execute a query that shows the first three episodes for each season
- Your aggregation should have the following attributes:
    - `seasonNum`
    - `firstThreeEpisodes`, which is an array that contains the titles of the first, second, and third episodes (in that order) of the season
- Order your output on `seasonNum` ascending
    - It's okay if the `firstThreeEpisodes` column is a bit truncated by the dataframe

In [ ]:
res = episodes.aggregate(
    # TODO: Put your query here
)

pandas.DataFrame(list(res))

## M3

- Write and execute a query that shows statistics about each season
- Your aggregation should have the following attributes:
    - `seasonNum`
    - `numEpisodes`, which is the number of episodes in the season
    - `startDate`, which is the earliest date associated with an episode in the season
    - `endDate`, which is the latest date associated with an episode in the season
    - `shortestEpisodeLength`
    - `longestEpisodeLength`
        - The length of an episode is the greatest `sceneEnd` value in the episode's `scenes` array
- Order your output on `seasonNum` ascending

In [ ]:
res = episodes.aggregate(
    # TODO: Put your query here
)

pandas.DataFrame(list(res))

## M4

- Write and execute a query that shows sublocations and the scenes they appear in
- Your aggregation should have the following attributes:
    - `subLocation`
    - `totalScenes`, which is the number of scenes that are set in the sublocation
    - `firstSeasonNum`
    - `firstEpisodeNum`
        - `(firstSeasonNum, firstEpisodeNum)` identifies the first episode that the sublocation appeared in
    - `lastSeasonNum`
    - `lastEpisodeNum`
        - `(lastSeasonNum, lastEpisodeNum)` identifies the last episode that the sublocation appeared in
- Order your output on `totalScenes` descending, and only keep the sublocations with more than 50 scenes

In [ ]:
res = episodes.aggregate(
    # TODO: Put your query here
)

pandas.DataFrame(list(res))

<hr style="height:2px;">

# Neo4j

- The cell below creates nodes and relationships that model movies and the people involved in them

In [ ]:
with open("movies.txt") as f:
    queries = str(f.read())

run_cypher("match (n) detach delete n")
run_cypher(queries)
print("Successfully inserted movie data")

## N1

- Write and execute a cypher that shows actors and the number of movies they appear in
    - You should focus only on the `ACTED_IN` relationship, no other relationship
- Your output should have the following attributes:
    - `name`, which is the name of the actor
    - `num_movies`
- Order your output on `num_movies` descending

In [ ]:
run_cypher("""
    TODO: Put your query here
""")

## N2

- Write and execute a cypher that shows people and movies they either acted in or directed
- Your output should have the following attributes:
    - `name`, which is the name of the person
    - `directed_movies`, which is an array of titles of movies that the person directed
    - `acted_in_movies`, which is an array of titles of movies that the person acted in
- Order your output on `name` ascending, and only keep people that have directed at least one movie **and** acted in at least one movie (i.e., there should be no empty arrays. Arrays with one element are fine.)

In [ ]:
run_cypher("""
    TODO: Put your query here
""")

## N3

- Write and execute a cypher that shows people and movies they both acted in and directed
- Your output should have the following attributes:
    - `name`, which is the name of the person
    - `acted_in_and_directed_movies`, which is an array of titles of movies that the person both acted in and directed
- Order your output on `name` ascending, and only keep people that have acted in at least one movie that they directed (i.e., there should be no empty arrays. Arrays with one element are fine.)

In [ ]:
run_cypher("""
    TODO: Put your query here
""")

## N4

- Write and execute a cypher that shows pairs of people and how closely connected they are
- Your output should have the following attributes:
    - `person_1_name`, which is the name of the first person in the pair
    - `person_2_name`, which is the name of the second person in the pair
    - `num_people_between`, which is the number of people (including the pair itself) separating the pair. You should use the `shortestPath` function to compute this.
- To prevent duplicates in your output, you should only keep rows where `person_1_name < person_2_name`
- Order your output on `(person_1_name, person_2_name)`, and only keep rows where `num_people_between > 5`


- As an example, you should get the following row in your output:

| person_1_name | person_2_name | num_people_between |
|---------------|---------------|--------------------|
| Billy Crystal | Paul Blythe   | 6                  |

- The shortest path between Billy Crystal and Paul Blythe is shown below
    - `num_people_between` is 6 because there are 6 nodes marked as `Person` (including Billy's and Paul's nodes)

<img src="./N4-example.png">

In [ ]:
run_cypher("""
    TODO: Put your query here
""")