<style  type="text/css"> 
cool {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}


}

</style>

<b><center>
    <span style="font-size: 24pt; line-height: 1.2;">COMS W4111: Introduction to Databases</span><br>
    <span style="font-size: 24pt; line-height: 1.2;">Section 002/V02, Spring 2024</span><br>
</center></b>
<br><br>
<i><center>
<span style="font-size: 20pt; line-height: 1.2;">Lecture 7 Examples</span>
</center></i>

__Note:__ Modifying width of cells for wider displays.

# Setup

In [1]:
%load_ext sql

In [2]:
import pymysql

In [3]:
import pandas

In [4]:
%sql mysql+pymysql://root:dbuserdbuser@localhost

In [5]:
conn = pymysql.connect(host="localhost", user="root", password="dbuserdbuser")

In [6]:
from sqlalchemy import create_engine

In [7]:
engine = create_engine("mysql+pymysql://root:dbuserdbuser@localhost")

# Watching Professor Ferguson Write Code

<span style="font-size: 24pt; line-height: 1.2; color: red">WRITE AND FIRST TEST YOUR COMPLEX SQL IN DATAGRIP AND <BR> COPY INTO THE NOTEBOOK.</span><br>
    
    
<span style="font-size: 24pt; line-height: 1.2; color: red">WHY DO I SOMETIMES NOT DO THAT!</span><br>
    
<img src="./wizard.jpeg" width="550px">

# Recursive Queries

Courses and prereqs in the sample database.

In [16]:
%%sql

use db_book;

WITH RECURSIVE rec_prereq(course_id, prereq_id) AS (
    SELECT course_id, prereq_id
    FROM prereq
    UNION
    SELECT rp.course_id, p.prereq_id
    FROM rec_prereq rp
    JOIN prereq p ON rp.prereq_id = p.course_id
)
SELECT * FROM rec_prereq;

 * mysql+pymysql://root:***@localhost
0 rows affected.
7 rows affected.

[('BIO-301', 'BIO-101'),
 ('BIO-399', 'BIO-101'),
 ('CS-190', 'CS-101'),
 ('CS-315', 'CS-101'),
 ('CS-319', 'CS-101'),
 ('CS-347', 'CS-101'),
 ('EE-181', 'PHY-101')]

Management chain in ```classicmodels.employees```.

In [17]:
%%sql

use classicmodels;

WITH RECURSIVE employee_hierarchy AS (
    SELECT
        employeeNumber,
        lastName,
        firstName,
        reportsTo,
        0 AS level,
        CONCAT(lastName, ', ', firstName) AS hierarchy
    FROM
        employees
    WHERE
        reportsTo IS NULL
    UNION ALL
    SELECT
        e.employeeNumber,
        e.lastName,
        e.firstName,
        e.reportsTo,
        eh.level + 1,
        CONCAT(eh.hierarchy, ' > ', e.lastName, ', ', e.firstName) AS hierarchy
    FROM
        employees e
    JOIN
        employee_hierarchy eh ON e.reportsTo = eh.employeeNumber
)
SELECT * FROM employee_hierarchy ORDER BY employeeNumber;

 * mysql+pymysql://root:***@localhost
0 rows affected.
23 rows affected.

[(1002, 'Murphy', 'Diane', None, 0, 'Murphy, Diane'),
 (1056, 'Patterson', 'Mary', 1002, 1, 'Murphy, Diane > Patterson, Mary'),
 (1076, 'Firrelli', 'Jeff', 1002, 1, 'Murphy, Diane > Firrelli, Jeff'),
 (1088, 'Patterson', 'William', 1056, 2, 'Murphy, Diane > Patterson, Mary > Patterson, William'),
 (1102, 'Bondur', 'Gerard', 1056, 2, 'Murphy, Diane > Patterson, Mary > Bondur, Gerard'),
 (1143, 'Bow', 'Anthony', 1056, 2, 'Murphy, Diane > Patterson, Mary > Bow, Anthony'),
 (1165, 'Jennings', 'Leslie', 1143, 3, 'Murphy, Diane > Patterson, Mary > Bow, Anthony > Jennings, Leslie'),
 (1166, 'Thompson', 'Leslie', 1143, 3, 'Murphy, Diane > Patterson, Mary > Bow, Anthony > Thompson, Leslie'),
 (1188, 'Firrelli', 'Julie', 1143, 3, 'Murphy, Diane > Patterson, Mary > Bow, Anthony > Firrelli, Julie'),
 (1216, 'Patterson', 'Steve', 1143, 3, 'Murphy, Diane > Patterson, Mary > Bow, Anthony > Patterson, Steve'),
 (1286, 'Tseng', 'Foon Yue', 1143, 3, 'Murphy, Diane > Patterson, Mary > Bow, Anthony > Tseng, Foon Yue'),
 (1323, 'Vanauf', 'George', 1143, 3, 'Murphy, Diane > Patterson, Mary > Bow, Anthony > Vanauf, George'),
 (1337, 'Bondur', 'Loui', 1102, 3, 'Murphy, Diane > Patterson, Mary > Bondur, Gerard > Bondur, Loui'),
 (1370, 'Hernandez', 'Gerard', 1102, 3, 'Murphy, Diane > Patterson, Mary > Bondur, Gerard > Hernandez, Gerard'),
 (1401, 'Castillo', 'Pamela', 1102, 3, 'Murphy, Diane > Patterson, Mary > Bondur, Gerard > Castillo, Pamela'),
 (1501, 'Bott', 'Larry', 1102, 3, 'Murphy, Diane > Patterson, Mary > Bondur, Gerard > Bott, Larry'),
 (1504, 'Jones', 'Barry', 1102, 3, 'Murphy, Diane > Patterson, Mary > Bondur, Gerard > Jones, Barry'),
 (1611, 'Fixter', 'Andy', 1088, 3, 'Murphy, Diane > Patterson, Mary > Patterson, William > Fixter, Andy'),
 (1612, 'Marsh', 'Peter', 1088, 3, 'Murphy, Diane > Patterson, Mary > Patterson, William > Marsh, Peter'),
 (1619, 'King', 'Tom', 1088, 3, 'Murphy, Diane > Patterson, Mary > Patterson, William > King, Tom'),
 (1621, 'Nishi', 'Mami', 1056, 2, 'Murphy, Diane > Patterson, Mary > Nishi, Mami'),
 (1625, 'Kato', 'Yoshimi', 1621, 3, 'Murphy, Diane > Patterson, Mary > Nishi, Mami > Kato, Yoshimi'),
 (1702, 'Gerard', 'Martin', 1102, 3, 'Murphy, Diane > Patterson, Mary > Bondur, Gerard > Gerard, Martin')]

I am not going to mislead you. I asked ChatGPT to do that for me.

# Advanced Aggregate Functions

Rank countries by total sales.

In [9]:
%%sql

use classicmodels;

with one as (
    select
        *,
        (select country from customers where customers.customerNumber=orders.customerNumber) as country
    from
                                 orders  join orderdetails using(orderNumber)
),
    two as (
        select country, sum(quantityOrdered*priceEach) as total_revenue
        from one
        group by country)
select
    rank() OVER(ORDER BY total_revenue desc) AS rank_number,
    country,
    concat("$",
           format(total_revenue, 0)
          ) as revenue,
from
    two;

 * mysql+pymysql://root:***@localhost
0 rows affected.
22 rows affected.

[(1, 'USA', '$3,273,280', Decimal('3273280.05')),
 (2, 'Spain', '$1,099,389', Decimal('1099389.09')),
 (3, 'France', '$1,007,374', Decimal('1007374.02')),
 (4, 'Australia', '$562,583', Decimal('562582.59')),
 (5, 'New Zealand', '$476,847', Decimal('476847.01')),
 (6, 'UK', '$436,947', Decimal('436947.44')),
 (7, 'Italy', '$360,617', Decimal('360616.81')),
 (8, 'Finland', '$295,149', Decimal('295149.35')),
 (9, 'Singapore', '$263,998', Decimal('263997.78')),
 (10, 'Denmark', '$218,995', Decimal('218994.92')),
 (11, 'Canada', '$205,912', Decimal('205911.86')),
 (12, 'Germany', '$196,471', Decimal('196470.99')),
 (13, 'Austria', '$188,540', Decimal('188540.06')),
 (14, 'Sweden', '$187,638', Decimal('187638.35')),
 (15, 'Japan', '$167,910', Decimal('167909.95')),
 (16, 'Norway  ', '$166,622', Decimal('166621.51')),
 (17, 'Switzerland', '$108,778', Decimal('108777.92')),
 (18, 'Norway', '$104,225', Decimal('104224.79')),
 (19, 'Belgium', '$100,069', Decimal('100068.76')),
 (20, 'Philippines', '$87,468', Decimal('87468.30')),
 (21, 'Ireland', '$49,898', Decimal('49898.27')),
 (22, 'Hong Kong', '$45,481', Decimal('45480.79'))]

Running total

In [18]:
%%sql

use classicmodels;

with one as (select *,
                    (select country from customers where customers.customerNumber = orders.customerNumber) as country
             from orders
                      join orderdetails using (orderNumber)),
     two as (select year(shippedDate)                as shipYear,
                    quarter(shippedDate)             as shipQuarter,
                    sum(quantityOrdered * priceEach) as year_quarter_revenue,
                    country
             from one
             where status = "Shipped"
             group by country, shipYear, shipQuarter)
SELECT country,
       shipYear,
       shipQuarter,
       year_quarter_revenue,
       SUM(year_quarter_revenue)
           OVER (partition by country ORDER BY shipYear, shipQuarter) AS
           running_total_revenue
FROM two;

 * mysql+pymysql://root:***@localhost
0 rows affected.
117 rows affected.

[('Australia', 2003, 2, Decimal('53429.11'), Decimal('53429.11')),
 ('Australia', 2003, 3, Decimal('65568.25'), Decimal('118997.36')),
 ('Australia', 2003, 4, Decimal('107810.67'), Decimal('226808.03')),
 ('Australia', 2004, 1, Decimal('44894.74'), Decimal('271702.77')),
 ('Australia', 2004, 3, Decimal('45221.86'), Decimal('316924.63')),
 ('Australia', 2004, 4, Decimal('114096.58'), Decimal('431021.21')),
 ('Australia', 2005, 1, Decimal('78364.61'), Decimal('509385.82')),
 ('Austria', 2003, 2, Decimal('35826.33'), Decimal('35826.33')),
 ('Austria', 2003, 4, Decimal('15130.97'), Decimal('50957.30')),
 ('Austria', 2004, 3, Decimal('6419.84'), Decimal('57377.14')),
 ('Austria', 2004, 4, Decimal('42813.83'), Decimal('100190.97')),
 ('Austria', 2005, 1, Decimal('8807.12'), Decimal('108998.09')),
 ('Austria', 2005, 2, Decimal('52420.07'), Decimal('161418.16')),
 ('Belgium', 2003, 2, Decimal('1627.56'), Decimal('1627.56')),
 ('Belgium', 2003, 3, Decimal('1128.20'), Decimal('2755.76')),
 ('Belgium', 2004, 1, Decimal('16901.38'), Decimal('19657.14')),
 ('Belgium', 2004, 3, Decimal('45352.47'), Decimal('65009.61')),
 ('Belgium', 2004, 4, Decimal('12081.52'), Decimal('77091.13')),
 ('Belgium', 2005, 1, Decimal('14379.90'), Decimal('91471.03')),
 ('Canada', 2003, 4, Decimal('53437.45'), Decimal('53437.45')),
 ('Canada', 2004, 2, Decimal('52281.87'), Decimal('105719.32')),
 ('Canada', 2004, 3, Decimal('37527.58'), Decimal('143246.90')),
 ('Canada', 2004, 4, Decimal('33594.58'), Decimal('176841.48')),
 ('Canada', 2005, 2, Decimal('29070.38'), Decimal('205911.86')),
 ('Denmark', 2003, 1, Decimal('53959.21'), Decimal('53959.21')),
 ('Denmark', 2003, 4, Decimal('36164.46'), Decimal('90123.67')),
 ('Denmark', 2004, 2, Decimal('32922.43'), Decimal('123046.10')),
 ('Denmark', 2004, 4, Decimal('53745.34'), Decimal('176791.44')),
 ('Finland', 2003, 3, Decimal('62439.90'), Decimal('62439.90')),
 ('Finland', 2003, 4, Decimal('37602.48'), Decimal('100042.38')),
 ('Finland', 2004, 2, Decimal('44607.13'), Decimal('144649.51')),
 ('Finland', 2004, 4, Decimal('34341.08'), Decimal('178990.59')),
 ('Finland', 2005, 1, Decimal('116158.76'), Decimal('295149.35')),
 ('France', 2003, 2, Decimal('115479.71'), Decimal('115479.71')),
 ('France', 2003, 3, Decimal('51572.43'), Decimal('167052.14')),
 ('France', 2003, 4, Decimal('116314.25'), Decimal('283366.39')),
 ('France', 2004, 1, Decimal('164515.72'), Decimal('447882.11')),
 ('France', 2004, 2, Decimal('65782.53'), Decimal('513664.64')),
 ('France', 2004, 3, Decimal('49884.99'), Decimal('563549.63')),
 ('France', 2004, 4, Decimal('226476.77'), Decimal('790026.40')),
 ('France', 2005, 1, Decimal('115943.26'), Decimal('905969.66')),
 ('France', 2005, 2, Decimal('59780.92'), Decimal('965750.58')),
 ('Germany', 2003, 1, Decimal('10549.01'), Decimal('10549.01')),
 ('Germany', 2003, 4, Decimal('52090.28'), Decimal('62639.29')),
 ('Germany', 2004, 1, Decimal('33820.62'), Decimal('96459.91')),
 ('Germany', 2004, 3, Decimal('31310.09'), Decimal('127770.00')),
 ('Germany', 2004, 4, Decimal('68700.99'), Decimal('196470.99')),
 ('Hong Kong', 2003, 4, Decimal('45480.79'), Decimal('45480.79')),
 ('Ireland', 2004, 1, Decimal('32538.74'), Decimal('32538.74')),
 ('Ireland', 2004, 3, Decimal('17359.53'), Decimal('49898.27')),
 ('Italy', 2003, 1, Decimal('52151.81'), Decimal('52151.81')),
 ('Italy', 2003, 4, Decimal('93994.34'), Decimal('146146.15')),
 ('Italy', 2004, 1, Decimal('7612.06'), Decimal('153758.21')),
 ('Italy', 2004, 3, Decimal('133842.25'), Decimal('287600.46')),
 ('Italy', 2004, 4, Decimal('37654.09'), Decimal('325254.55')),
 ('Italy', 2005, 2, Decimal('35362.26'), Decimal('360616.81')),
 ('Japan', 2004, 1, Decimal('47177.59'), Decimal('47177.59')),
 ('Japan', 2004, 2, Decimal('37221.54'), Decimal('84399.13')),
 ('Japan', 2004, 4, Decimal('48927.64'), Decimal('133326.77')),
 ('Japan', 2005, 1, Decimal('33967.73'), Decimal('167294.50')),
 ('Japan', 2005, 2, Decimal('615.45'), Decimal('167909.95')),
 ('New Zealand', 2003, 2, Decimal('2880.00'), Decimal('2880.00')),
 ('New Zealand', 2003, 3, Decimal('32077.44'), Decimal('34957.44')),
 ('New Zealand', 2003, 4, Decimal('20220.04'), Decimal('55177.48')),
 ('New Zealand', 2004, 2, Decimal('68951.73'), Decimal('124129.21')),
 ('New Zealand', 2004, 3, Decimal('35034.57'), Decimal('159163.78')),
 ('New Zealand', 2004, 4, Decimal('91606.59'), Decimal('250770.37')),
 ('New Zealand', 2005, 1, Decimal('33593.32'), Decimal('284363.69')),
 ('New Zealand', 2005, 2, Decimal('131750.34'), Decimal('416114.03')),
 ('Norway', 2003, 1, Decimal('50218.95'), Decimal('50218.95')),
 ('Norway', 2003, 4, Decimal('1491.38'), Decimal('51710.33')),
 ('Norway', 2004, 4, Decimal('52514.46'), Decimal('104224.79')),
 ('Norway  ', 2003, 4, Decimal('121823.34'), Decimal('121823.34')),
 ('Norway  ', 2004, 3, Decimal('44798.17'), Decimal('166621.51')),
 ('Philippines', 2003, 1, Decimal('51001.22'), Decimal('51001.22')),
 ('Philippines', 2003, 4, Decimal('20644.24'), Decimal('71645.46')),
 ('Philippines', 2004, 4, Decimal('15822.84'), Decimal('87468.30')),
 ('Singapore', 2003, 2, Decimal('44380.15'), Decimal('44380.15')),
 ('Singapore', 2003, 3, Decimal('38350.15'), Decimal('82730.30')),
 ('Singapore', 2003, 4, Decimal('67392.85'), Decimal('150123.15')),
 ('Singapore', 2004, 1, Decimal('22474.17'), Decimal('172597.32')),
 ('Singapore', 2004, 2, Decimal('44160.92'), Decimal('216758.24')),
 ('Singapore', 2004, 3, Decimal('41397.32'), Decimal('258155.56')),
 ('Singapore', 2005, 1, Decimal('3516.04'), Decimal('261671.60')),
 ('Singapore', 2005, 2, Decimal('2326.18'), Decimal('263997.78')),
 ('Spain', 2003, 1, Decimal('40206.20'), Decimal('40206.20')),
 ('Spain', 2003, 2, Decimal('74118.31'), Decimal('114324.51')),
 ('Spain', 2003, 3, Decimal('22366.04'), Decimal('136690.55')),
 ('Spain', 2003, 4, Decimal('232798.18'), Decimal('369488.73')),
 ('Spain', 2004, 1, Decimal('97316.09'), Decimal('466804.82')),
 ('Spain', 2004, 2, Decimal('61576.65'), Decimal('528381.47')),
 ('Spain', 2004, 3, Decimal('20009.53'), Decimal('548391.00')),
 ('Spain', 2004, 4, Decimal('213914.21'), Decimal('762305.21')),
 ('Spain', 2005, 1, Decimal('138269.32'), Decimal('900574.53')),
 ('Spain', 2005, 2, Decimal('46895.48'), Decimal('947470.01')),
 ('Sweden', 2003, 1, Decimal('7674.94'), Decimal('7674.94')),
 ('Sweden', 2004, 3, Decimal('48809.90'), Decimal('56484.84')),
 ('Sweden', 2004, 4, Decimal('36005.71'), Decimal('92490.55')),
 ('Sweden', 2005, 1, Decimal('27966.54'), Decimal('120457.09')),
 ('Switzerland', 2004, 1, Decimal('47375.92'), Decimal('47375.92')),
 ('Switzerland', 2004, 3, Decimal('61402.00'), Decimal('108777.92')),
 ('UK', 2003, 1, Decimal('48425.69'), Decimal('48425.69')),
 ('UK', 2003, 2, Decimal('29429.14'), Decimal('77854.83')),
 ('UK', 2003, 4, Decimal('83639.74'), Decimal('161494.57')),
 ('UK', 2004, 1, Decimal('32306.03'), Decimal('193800.60')),
 ('UK', 2004, 4, Decimal('160444.36'), Decimal('354244.96')),
 ('UK', 2005, 2, Decimal('37258.94'), Decimal('391503.90')),
 ('USA', 2003, 1, Decimal('91426.52'), Decimal('91426.52')),
 ('USA', 2003, 2, Decimal('136218.56'), Decimal('227645.08')),
 ('USA', 2003, 3, Decimal('310997.78'), Decimal('538642.86')),
 ('USA', 2003, 4, Decimal('633557.73'), Decimal('1172200.59')),
 ('USA', 2004, 1, Decimal('213797.22'), Decimal('1385997.81')),
 ('USA', 2004, 2, Decimal('178374.07'), Decimal('1564371.88')),
 ('USA', 2004, 3, Decimal('430430.90'), Decimal('1994802.78')),
 ('USA', 2004, 4, Decimal('662452.25'), Decimal('2657255.03')),
 ('USA', 2005, 1, Decimal('314693.11'), Decimal('2971948.14')),
 ('USA', 2005, 2, Decimal('60256.12'), Decimal('3032204.26'))]

Stuff is missing?

In [19]:
%%sql

with one as (select *,
                    (select country from customers where customers.customerNumber = orders.customerNumber) as country
             from orders
                      join orderdetails using (orderNumber)),
     two as (select year(shippedDate)                as shipYear,
                    quarter(shippedDate)             as shipQuarter,
                    sum(quantityOrdered * priceEach) as year_quarter_revenue,
                    country
             from one
             where status = "Shipped"
             group by country, shipYear, shipQuarter),
    three as (
        select distinct country, year(shippedDate) as shipYear, quarter(shippedDate) as shipQuarter
            from orders join
                (select distinct country from customers) as a
            where orders.status="Shipped" order by country, shipYear, shipQuarter
    ),
    four as (select country,
                    shipYear,
                    shipQuarter,
                    ifnull(year_quarter_revenue, 0) as year_quarter_revenue
             from three
                      left join two using (country, shipYear, shipQuarter)
             order by country, shipYear, shipQuarter)
SELECT country,
       shipYear,
       shipQuarter,
       concat("$",
              format(year_quarter_revenue, 0)
             ) as quarter_revenue,
        concat("$",
           format(
               SUM(year_quarter_revenue)
                   OVER (partition by country ORDER BY shipYear, shipQuarter),
               0)
              ) AS
           running_total_revenue
FROM four;

 * mysql+pymysql://root:***@localhost
280 rows affected.

[('Australia', 2003, 1, '$0', '$0'),
 ('Australia', 2003, 2, '$53,429', '$53,429'),
 ('Australia', 2003, 3, '$65,568', '$118,997'),
 ('Australia', 2003, 4, '$107,811', '$226,808'),
 ('Australia', 2004, 1, '$44,895', '$271,703'),
 ('Australia', 2004, 2, '$0', '$271,703'),
 ('Australia', 2004, 3, '$45,222', '$316,925'),
 ('Australia', 2004, 4, '$114,097', '$431,021'),
 ('Australia', 2005, 1, '$78,365', '$509,386'),
 ('Australia', 2005, 2, '$0', '$509,386'),
 ('Austria', 2003, 1, '$0', '$0'),
 ('Austria', 2003, 2, '$35,826', '$35,826'),
 ('Austria', 2003, 3, '$0', '$35,826'),
 ('Austria', 2003, 4, '$15,131', '$50,957'),
 ('Austria', 2004, 1, '$0', '$50,957'),
 ('Austria', 2004, 2, '$0', '$50,957'),
 ('Austria', 2004, 3, '$6,420', '$57,377'),
 ('Austria', 2004, 4, '$42,814', '$100,191'),
 ('Austria', 2005, 1, '$8,807', '$108,998'),
 ('Austria', 2005, 2, '$52,420', '$161,418'),
 ('Belgium', 2003, 1, '$0', '$0'),
 ('Belgium', 2003, 2, '$1,628', '$1,628'),
 ('Belgium', 2003, 3, '$1,128', '$2,756'),
 ('Belgium', 2003, 4, '$0', '$2,756'),
 ('Belgium', 2004, 1, '$16,901', '$19,657'),
 ('Belgium', 2004, 2, '$0', '$19,657'),
 ('Belgium', 2004, 3, '$45,352', '$65,010'),
 ('Belgium', 2004, 4, '$12,082', '$77,091'),
 ('Belgium', 2005, 1, '$14,380', '$91,471'),
 ('Belgium', 2005, 2, '$0', '$91,471'),
 ('Canada', 2003, 1, '$0', '$0'),
 ('Canada', 2003, 2, '$0', '$0'),
 ('Canada', 2003, 3, '$0', '$0'),
 ('Canada', 2003, 4, '$53,437', '$53,437'),
 ('Canada', 2004, 1, '$0', '$53,437'),
 ('Canada', 2004, 2, '$52,282', '$105,719'),
 ('Canada', 2004, 3, '$37,528', '$143,247'),
 ('Canada', 2004, 4, '$33,595', '$176,841'),
 ('Canada', 2005, 1, '$0', '$176,841'),
 ('Canada', 2005, 2, '$29,070', '$205,912'),
 ('Denmark', 2003, 1, '$53,959', '$53,959'),
 ('Denmark', 2003, 2, '$0', '$53,959'),
 ('Denmark', 2003, 3, '$0', '$53,959'),
 ('Denmark', 2003, 4, '$36,164', '$90,124'),
 ('Denmark', 2004, 1, '$0', '$90,124'),
 ('Denmark', 2004, 2, '$32,922', '$123,046'),
 ('Denmark', 2004, 3, '$0', '$123,046'),
 ('Denmark', 2004, 4, '$53,745', '$176,791'),
 ('Denmark', 2005, 1, '$0', '$176,791'),
 ('Denmark', 2005, 2, '$0', '$176,791'),
 ('Finland', 2003, 1, '$0', '$0'),
 ('Finland', 2003, 2, '$0', '$0'),
 ('Finland', 2003, 3, '$62,440', '$62,440'),
 ('Finland', 2003, 4, '$37,602', '$100,042'),
 ('Finland', 2004, 1, '$0', '$100,042'),
 ('Finland', 2004, 2, '$44,607', '$144,650'),
 ('Finland', 2004, 3, '$0', '$144,650'),
 ('Finland', 2004, 4, '$34,341', '$178,991'),
 ('Finland', 2005, 1, '$116,159', '$295,149'),
 ('Finland', 2005, 2, '$0', '$295,149'),
 ('France', 2003, 1, '$0', '$0'),
 ('France', 2003, 2, '$115,480', '$115,480'),
 ('France', 2003, 3, '$51,572', '$167,052'),
 ('France', 2003, 4, '$116,314', '$283,366'),
 ('France', 2004, 1, '$164,516', '$447,882'),
 ('France', 2004, 2, '$65,783', '$513,665'),
 ('France', 2004, 3, '$49,885', '$563,550'),
 ('France', 2004, 4, '$226,477', '$790,026'),
 ('France', 2005, 1, '$115,943', '$905,970'),
 ('France', 2005, 2, '$59,781', '$965,751'),
 ('Germany', 2003, 1, '$10,549', '$10,549'),
 ('Germany', 2003, 2, '$0', '$10,549'),
 ('Germany', 2003, 3, '$0', '$10,549'),
 ('Germany', 2003, 4, '$52,090', '$62,639'),
 ('Germany', 2004, 1, '$33,821', '$96,460'),
 ('Germany', 2004, 2, '$0', '$96,460'),
 ('Germany', 2004, 3, '$31,310', '$127,770'),
 ('Germany', 2004, 4, '$68,701', '$196,471'),
 ('Germany', 2005, 1, '$0', '$196,471'),
 ('Germany', 2005, 2, '$0', '$196,471'),
 ('Hong Kong', 2003, 1, '$0', '$0'),
 ('Hong Kong', 2003, 2, '$0', '$0'),
 ('Hong Kong', 2003, 3, '$0', '$0'),
 ('Hong Kong', 2003, 4, '$45,481', '$45,481'),
 ('Hong Kong', 2004, 1, '$0', '$45,481'),
 ('Hong Kong', 2004, 2, '$0', '$45,481'),
 ('Hong Kong', 2004, 3, '$0', '$45,481'),
 ('Hong Kong', 2004, 4, '$0', '$45,481'),
 ('Hong Kong', 2005, 1, '$0', '$45,481'),
 ('Hong Kong', 2005, 2, '$0', '$45,481'),
 ('Ireland', 2003, 1, '$0', '$0'),
 ('Ireland', 2003, 2, '$0', '$0'),
 ('Ireland', 2003, 3, '$0', '$0'),
 ('Ireland', 2003, 4, '$0', '$0'),
 ('Ireland', 2004, 1, '$32,539', '$32,539'),
 ('Ireland', 2004, 2, '$0', '$32,539'),
 ('Ireland', 2004, 3, '$17,360', '$49,898'),
 ('Ireland', 2004, 4, '$0', '$49,898'),
 ('Ireland', 2005, 1, '$0', '$49,898'),
 ('Ireland', 2005, 2, '$0', '$49,898'),
 ('Israel', 2003, 1, '$0', '$0'),
 ('Israel', 2003, 2, '$0', '$0'),
 ('Israel', 2003, 3, '$0', '$0'),
 ('Israel', 2003, 4, '$0', '$0'),
 ('Israel', 2004, 1, '$0', '$0'),
 ('Israel', 2004, 2, '$0', '$0'),
 ('Israel', 2004, 3, '$0', '$0'),
 ('Israel', 2004, 4, '$0', '$0'),
 ('Israel', 2005, 1, '$0', '$0'),
 ('Israel', 2005, 2, '$0', '$0'),
 ('Italy', 2003, 1, '$52,152', '$52,152'),
 ('Italy', 2003, 2, '$0', '$52,152'),
 ('Italy', 2003, 3, '$0', '$52,152'),
 ('Italy', 2003, 4, '$93,994', '$146,146'),
 ('Italy', 2004, 1, '$7,612', '$153,758'),
 ('Italy', 2004, 2, '$0', '$153,758'),
 ('Italy', 2004, 3, '$133,842', '$287,600'),
 ('Italy', 2004, 4, '$37,654', '$325,255'),
 ('Italy', 2005, 1, '$0', '$325,255'),
 ('Italy', 2005, 2, '$35,362', '$360,617'),
 ('Japan', 2003, 1, '$0', '$0'),
 ('Japan', 2003, 2, '$0', '$0'),
 ('Japan', 2003, 3, '$0', '$0'),
 ('Japan', 2003, 4, '$0', '$0'),
 ('Japan', 2004, 1, '$47,178', '$47,178'),
 ('Japan', 2004, 2, '$37,222', '$84,399'),
 ('Japan', 2004, 3, '$0', '$84,399'),
 ('Japan', 2004, 4, '$48,928', '$133,327'),
 ('Japan', 2005, 1, '$33,968', '$167,295'),
 ('Japan', 2005, 2, '$615', '$167,910'),
 ('Netherlands', 2003, 1, '$0', '$0'),
 ('Netherlands', 2003, 2, '$0', '$0'),
 ('Netherlands', 2003, 3, '$0', '$0'),
 ('Netherlands', 2003, 4, '$0', '$0'),
 ('Netherlands', 2004, 1, '$0', '$0'),
 ('Netherlands', 2004, 2, '$0', '$0'),
 ('Netherlands', 2004, 3, '$0', '$0'),
 ('Netherlands', 2004, 4, '$0', '$0'),
 ('Netherlands', 2005, 1, '$0', '$0'),
 ('Netherlands', 2005, 2, '$0', '$0'),
 ('New Zealand', 2003, 1, '$0', '$0'),
 ('New Zealand', 2003, 2, '$2,880', '$2,880'),
 ('New Zealand', 2003, 3, '$32,077', '$34,957'),
 ('New Zealand', 2003, 4, '$20,220', '$55,177'),
 ('New Zealand', 2004, 1, '$0', '$55,177'),
 ('New Zealand', 2004, 2, '$68,952', '$124,129'),
 ('New Zealand', 2004, 3, '$35,035', '$159,164'),
 ('New Zealand', 2004, 4, '$91,607', '$250,770'),
 ('New Zealand', 2005, 1, '$33,593', '$284,364'),
 ('New Zealand', 2005, 2, '$131,750', '$416,114'),
 ('Norway', 2003, 1, '$50,219', '$50,219'),
 ('Norway', 2003, 2, '$0', '$50,219'),
 ('Norway', 2003, 3, '$0', '$50,219'),
 ('Norway', 2003, 4, '$1,491', '$51,710'),
 ('Norway', 2004, 1, '$0', '$51,710'),
 ('Norway', 2004, 2, '$0', '$51,710'),
 ('Norway', 2004, 3, '$0', '$51,710'),
 ('Norway', 2004, 4, '$52,514', '$104,225'),
 ('Norway', 2005, 1, '$0', '$104,225'),
 ('Norway', 2005, 2, '$0', '$104,225'),
 ('Norway  ', 2003, 1, '$0', '$0'),
 ('Norway  ', 2003, 2, '$0', '$0'),
 ('Norway  ', 2003, 3, '$0', '$0'),
 ('Norway  ', 2003, 4, '$121,823', '$121,823'),
 ('Norway  ', 2004, 1, '$0', '$121,823'),
 ('Norway  ', 2004, 2, '$0', '$121,823'),
 ('Norway  ', 2004, 3, '$44,798', '$166,622'),
 ('Norway  ', 2004, 4, '$0', '$166,622'),
 ('Norway  ', 2005, 1, '$0', '$166,622'),
 ('Norway  ', 2005, 2, '$0', '$166,622'),
 ('Philippines', 2003, 1, '$51,001', '$51,001'),
 ('Philippines', 2003, 2, '$0', '$51,001'),
 ('Philippines', 2003, 3, '$0', '$51,001'),
 ('Philippines', 2003, 4, '$20,644', '$71,645'),
 ('Philippines', 2004, 1, '$0', '$71,645'),
 ('Philippines', 2004, 2, '$0', '$71,645'),
 ('Philippines', 2004, 3, '$0', '$71,645'),
 ('Philippines', 2004, 4, '$15,823', '$87,468'),
 ('Philippines', 2005, 1, '$0', '$87,468'),
 ('Philippines', 2005, 2, '$0', '$87,468'),
 ('Poland', 2003, 1, '$0', '$0'),
 ('Poland', 2003, 2, '$0', '$0'),
 ('Poland', 2003, 3, '$0', '$0'),
 ('Poland', 2003, 4, '$0', '$0'),
 ('Poland', 2004, 1, '$0', '$0'),
 ('Poland', 2004, 2, '$0', '$0'),
 ('Poland', 2004, 3, '$0', '$0'),
 ('Poland', 2004, 4, '$0', '$0'),
 ('Poland', 2005, 1, '$0', '$0'),
 ('Poland', 2005, 2, '$0', '$0'),
 ('Portugal', 2003, 1, '$0', '$0'),
 ('Portugal', 2003, 2, '$0', '$0'),
 ('Portugal', 2003, 3, '$0', '$0'),
 ('Portugal', 2003, 4, '$0', '$0'),
 ('Portugal', 2004, 1, '$0', '$0'),
 ('Portugal', 2004, 2, '$0', '$0'),
 ('Portugal', 2004, 3, '$0', '$0'),
 ('Portugal', 2004, 4, '$0', '$0'),
 ('Portugal', 2005, 1, '$0', '$0'),
 ('Portugal', 2005, 2, '$0', '$0'),
 ('Russia', 2003, 1, '$0', '$0'),
 ('Russia', 2003, 2, '$0', '$0'),
 ('Russia', 2003, 3, '$0', '$0'),
 ('Russia', 2003, 4, '$0', '$0'),
 ('Russia', 2004, 1, '$0', '$0'),
 ('Russia', 2004, 2, '$0', '$0'),
 ('Russia', 2004, 3, '$0', '$0'),
 ('Russia', 2004, 4, '$0', '$0'),
 ('Russia', 2005, 1, '$0', '$0'),
 ('Russia', 2005, 2, '$0', '$0'),
 ('Singapore', 2003, 1, '$0', '$0'),
 ('Singapore', 2003, 2, '$44,380', '$44,380'),
 ('Singapore', 2003, 3, '$38,350', '$82,730'),
 ('Singapore', 2003, 4, '$67,393', '$150,123'),
 ('Singapore', 2004, 1, '$22,474', '$172,597'),
 ('Singapore', 2004, 2, '$44,161', '$216,758'),
 ('Singapore', 2004, 3, '$41,397', '$258,156'),
 ('Singapore', 2004, 4, '$0', '$258,156'),
 ('Singapore', 2005, 1, '$3,516', '$261,672'),
 ('Singapore', 2005, 2, '$2,326', '$263,998'),
 ('South Africa', 2003, 1, '$0', '$0'),
 ('South Africa', 2003, 2, '$0', '$0'),
 ('South Africa', 2003, 3, '$0', '$0'),
 ('South Africa', 2003, 4, '$0', '$0'),
 ('South Africa', 2004, 1, '$0', '$0'),
 ('South Africa', 2004, 2, '$0', '$0'),
 ('South Africa', 2004, 3, '$0', '$0'),
 ('South Africa', 2004, 4, '$0', '$0'),
 ('South Africa', 2005, 1, '$0', '$0'),
 ('South Africa', 2005, 2, '$0', '$0'),
 ('Spain', 2003, 1, '$40,206', '$40,206'),
 ('Spain', 2003, 2, '$74,118', '$114,325'),
 ('Spain', 2003, 3, '$22,366', '$136,691'),
 ('Spain', 2003, 4, '$232,798', '$369,489'),
 ('Spain', 2004, 1, '$97,316', '$466,805'),
 ('Spain', 2004, 2, '$61,577', '$528,381'),
 ('Spain', 2004, 3, '$20,010', '$548,391'),
 ('Spain', 2004, 4, '$213,914', '$762,305'),
 ('Spain', 2005, 1, '$138,269', '$900,575'),
 ('Spain', 2005, 2, '$46,895', '$947,470'),
 ('Sweden', 2003, 1, '$7,675', '$7,675'),
 ('Sweden', 2003, 2, '$0', '$7,675'),
 ('Sweden', 2003, 3, '$0', '$7,675'),
 ('Sweden', 2003, 4, '$0', '$7,675'),
 ('Sweden', 2004, 1, '$0', '$7,675'),
 ('Sweden', 2004, 2, '$0', '$7,675'),
 ('Sweden', 2004, 3, '$48,810', '$56,485'),
 ('Sweden', 2004, 4, '$36,006', '$92,491'),
 ('Sweden', 2005, 1, '$27,967', '$120,457'),
 ('Sweden', 2005, 2, '$0', '$120,457'),
 ('Switzerland', 2003, 1, '$0', '$0'),
 ('Switzerland', 2003, 2, '$0', '$0'),
 ('Switzerland', 2003, 3, '$0', '$0'),
 ('Switzerland', 2003, 4, '$0', '$0'),
 ('Switzerland', 2004, 1, '$47,376', '$47,376'),
 ('Switzerland', 2004, 2, '$0', '$47,376'),
 ('Switzerland', 2004, 3, '$61,402', '$108,778'),
 ('Switzerland', 2004, 4, '$0', '$108,778'),
 ('Switzerland', 2005, 1, '$0', '$108,778'),
 ('Switzerland', 2005, 2, '$0', '$108,778'),
 ('UK', 2003, 1, '$48,426', '$48,426'),
 ('UK', 2003, 2, '$29,429', '$77,855'),
 ('UK', 2003, 3, '$0', '$77,855'),
 ('UK', 2003, 4, '$83,640', '$161,495'),
 ('UK', 2004, 1, '$32,306', '$193,801'),
 ('UK', 2004, 2, '$0', '$193,801'),
 ('UK', 2004, 3, '$0', '$193,801'),
 ('UK', 2004, 4, '$160,444', '$354,245'),
 ('UK', 2005, 1, '$0', '$354,245'),
 ('UK', 2005, 2, '$37,259', '$391,504'),
 ('USA', 2003, 1, '$91,427', '$91,427'),
 ('USA', 2003, 2, '$136,219', '$227,645'),
 ('USA', 2003, 3, '$310,998', '$538,643'),
 ('USA', 2003, 4, '$633,558', '$1,172,201'),
 ('USA', 2004, 1, '$213,797', '$1,385,998'),
 ('USA', 2004, 2, '$178,374', '$1,564,372'),
 ('USA', 2004, 3, '$430,431', '$1,994,803'),
 ('USA', 2004, 4, '$662,452', '$2,657,255'),
 ('USA', 2005, 1, '$314,693', '$2,971,948'),
 ('USA', 2005, 2, '$60,256', '$3,032,204')]

Year to year percentage increase

In [20]:
%%sql

with one as (
    select
        *,
         (select country from customers where customers.customerNumber=orders.customerNumber) as country
        from orders join orderDetails using(orderNumber) where status='Shipped'
),
    two as (
        select country, year(shippedDate) as shipYear, sum(priceEach*quantityOrdered) as revenue
        from one group by country, shipYear
    ),
    three AS (
    SELECT
        country,
        shipYear,
        revenue,
        LAG(revenue) OVER (PARTITION BY country ORDER BY shipYear) AS prev_year_revenue
    FROM
        two
)
SELECT
    country,
    shipYear,
    revenue,
    IFNULL(((revenue - prev_year_revenue) / prev_year_revenue) * 100, 0) AS revenue_increase_percentage
FROM
    three;

 * mysql+pymysql://root:***@localhost
54 rows affected.

[('Australia', 2003, Decimal('226808.03'), Decimal('0.000000')),
 ('Australia', 2004, Decimal('204213.18'), Decimal('-9.962103')),
 ('Australia', 2005, Decimal('78364.61'), Decimal('-61.626076')),
 ('Austria', 2003, Decimal('50957.30'), Decimal('0.000000')),
 ('Austria', 2004, Decimal('49233.67'), Decimal('-3.382499')),
 ('Austria', 2005, Decimal('61227.19'), Decimal('24.360402')),
 ('Belgium', 2003, Decimal('2755.76'), Decimal('0.000000')),
 ('Belgium', 2004, Decimal('74335.37'), Decimal('2597.454423')),
 ('Belgium', 2005, Decimal('14379.90'), Decimal('-80.655373')),
 ('Canada', 2003, Decimal('53437.45'), Decimal('0.000000')),
 ('Canada', 2004, Decimal('123404.03'), Decimal('130.931734')),
 ('Canada', 2005, Decimal('29070.38'), Decimal('-76.442925')),
 ('Denmark', 2003, Decimal('90123.67'), Decimal('0.000000')),
 ('Denmark', 2004, Decimal('86667.77'), Decimal('-3.834620')),
 ('Finland', 2003, Decimal('100042.38'), Decimal('0.000000')),
 ('Finland', 2004, Decimal('78948.21'), Decimal('-21.085234')),
 ('Finland', 2005, Decimal('116158.76'), Decimal('47.132861')),
 ('France', 2003, Decimal('283366.39'), Decimal('0.000000')),
 ('France', 2004, Decimal('506660.01'), Decimal('78.800319')),
 ('France', 2005, Decimal('175724.18'), Decimal('-65.317140')),
 ('Germany', 2003, Decimal('62639.29'), Decimal('0.000000')),
 ('Germany', 2004, Decimal('133831.70'), Decimal('113.654561')),
 ('Hong Kong', 2003, Decimal('45480.79'), Decimal('0.000000')),
 ('Ireland', 2004, Decimal('49898.27'), Decimal('0.000000')),
 ('Italy', 2003, Decimal('146146.15'), Decimal('0.000000')),
 ('Italy', 2004, Decimal('179108.40'), Decimal('22.554306')),
 ('Italy', 2005, Decimal('35362.26'), Decimal('-80.256504')),
 ('Japan', 2004, Decimal('133326.77'), Decimal('0.000000')),
 ('Japan', 2005, Decimal('34583.18'), Decimal('-74.061338')),
 ('New Zealand', 2003, Decimal('55177.48'), Decimal('0.000000')),
 ('New Zealand', 2004, Decimal('195592.89'), Decimal('254.479563')),
 ('New Zealand', 2005, Decimal('165343.66'), Decimal('-15.465404')),
 ('Norway', 2003, Decimal('51710.33'), Decimal('0.000000')),
 ('Norway', 2004, Decimal('52514.46'), Decimal('1.555066')),
 ('Norway  ', 2003, Decimal('121823.34'), Decimal('0.000000')),
 ('Norway  ', 2004, Decimal('44798.17'), Decimal('-63.226940')),
 ('Philippines', 2003, Decimal('71645.46'), Decimal('0.000000')),
 ('Philippines', 2004, Decimal('15822.84'), Decimal('-77.915084')),
 ('Singapore', 2003, Decimal('150123.15'), Decimal('0.000000')),
 ('Singapore', 2004, Decimal('108032.41'), Decimal('-28.037475')),
 ('Singapore', 2005, Decimal('5842.22'), Decimal('-94.592160')),
 ('Spain', 2003, Decimal('369488.73'), Decimal('0.000000')),
 ('Spain', 2004, Decimal('392816.48'), Decimal('6.313521')),
 ('Spain', 2005, Decimal('185164.80'), Decimal('-52.862263')),
 ('Sweden', 2003, Decimal('7674.94'), Decimal('0.000000')),
 ('Sweden', 2004, Decimal('84815.61'), Decimal('1005.098020')),
 ('Sweden', 2005, Decimal('27966.54'), Decimal('-67.026659')),
 ('Switzerland', 2004, Decimal('108777.92'), Decimal('0.000000')),
 ('UK', 2003, Decimal('161494.57'), Decimal('0.000000')),
 ('UK', 2004, Decimal('192750.39'), Decimal('19.354100')),
 ('UK', 2005, Decimal('37258.94'), Decimal('-80.669850')),
 ('USA', 2003, Decimal('1172200.59'), Decimal('0.000000')),
 ('USA', 2004, Decimal('1485054.44'), Decimal('26.689447')),
 ('USA', 2005, Decimal('374949.23'), Decimal('-74.751819'))]